<section id="banner" class="jumbotron text-center jumbotron-fluid p-0 m-0">
    <div class="img-wrapper pt-6 pt-lg-2 pb-9 pb-lg-9">
        <div class="px-3 px-sm-0 container d-flex h-100">
            <div class="mb-0 mb-lg-7 row no-gutters align-self-center w-100">
                <div class="col-12 col-md-8">
                    <h1 class="mb-1 jumbotron-heading text-white text-left">A new Planning and Design Code for South Australians</h1>
                         <p class="py-3 text-white text-left">On 31 July, the <i>Planning, Development and Infrastructure Act 2016</i> became operational in rural South Australia, replacing Development Plans with the Planning and Design Code.</p>
                    <p class="text-left"><a aria-label="learn more about A new planning and development system for all South Australians" href="https://code.plan.sa.gov.au" target="_blank" class="btn btn-outline-secondary" role="button">Explore the P&D Code</a></p>
                </div>
            </div>
        </div>
    </div>
</section>