<div class="alert-body">
    <p>
      This wizard helps identify development&nbsp;types that don't&nbsp;usually&nbsp;require approval.
    </p>
    <p class="alert alert-infoBlock">
      This wizard is a guide only and is not a substitute for professional advice.
    </p>
    <p>
      The advice given in this wizard does&nbsp;not apply&nbsp;if&nbsp;your development type&nbsp;is part of a larger project that requires approval, for example,&nbsp;building a new house.&nbsp;This wizard only provides advice for developments undertaken individually.
    </p>
    <p>
      The State Planning Commission, a court, council or other relevant authority may have an interpretation of the law that's different from this wizard.
    </p>
    <p>
      You should always confirm that you are permitted to&nbsp;commence a development&nbsp;by contacting a relevant authority who may be:
    </p>
    <ul role="list">
      <li>
        the&nbsp;<a href="https://www.lga.sa.gov.au/sa-councils/councils-listing" target="_blank">local council</a>;&nbsp;or
      </li>
      <li>
        the&nbsp;<a href="https://www.saplanningcommission.sa.gov.au/scap" target="_blank">State Commission Assessment Panel</a>; or
      </li>
      <li>
        a private <a href="./?a=652669">Accredited Professional</a>
      </li>
    </ul>
    <p>
      By clicking&nbsp;'I Agree', you acknowledge that you have read and agree to these terms and to the <a href="https://www.dpti.sa.gov.au/website_disclaimer" target="_blank" rel="noreferrer noopener">Disclaimer</a> and <a href="https://www.dpti.sa.gov.au/privacy" target="_blank" rel="noreferrer noopener">Privacy statement</a>.
    </p>
  </div>