<div class="container">
    <div class="row">
        <div class="col-12 px-3 px-sm-0">
            <div class="row no-gutters my-6 my-md-7">
                <div class="col-lg-6 col-12 my-auto py-3 py-lg-7 pr-lg-6">
                    <h2 class="mt-lg-6 mt-0">Find a development application</h2>
                </div>
                <div class="col-lg-6 col-12 my-auto py-3 py-lg-7">
                    <!--@@ this needs to be a label
                    <p class="mb-1">Enter an ID number or property address</p>
                    @@-->
                    <form id="home_dev_search" aria-label="Development Search" method="get" action="https://dpti.sa.gov.au/saplanningportal/development_application_register">
                        <label for="AddrSearch" class="font-weight-normal">Enter an property address</label>
                        <div class="col-12 p-0 mb-0 input-group">
                            <input type="hidden" name="SQ_ENVIRONMENT" value="uat" />
                            <input type="text" name="AddrSearch" value="" size="25" aria-label="Development Search Field" title="Development Search Field" class="sq-form-field" id="AddrSearch" placeholder="e.g. King William">
                            <!--@@ updated to use bootstrap group/prepend @@-->
                            <div class="input-group-prepend">
                                <button type="submit" id="home_dev_search_submit" name="home_dev_search_submit" aria-label="Search-Submit">
                                    <i class="psa-icon icon-search larger-icon"></i>
                                </button>
                            </div>
                        </div>
        			</form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 my-9 px-3 px-sm-0">
            <div class="row no-gutters my-6 my-md-7">
                <div class="col-lg-6 col-12 my-auto py-3 py-lg-7 pr-lg-6">
                    <h2 class="mt-lg-6 mt-0">Find a development application</h2>
                </div>
                <div class="col-lg-6 col-12 my-auto py-3 py-lg-7">
                    <!--@@ this needs to be a label
                    <p class="mb-1">Enter an ID number or property address</p>
                    @@-->
                    <form id="home_dev_search" aria-label="Development Search" method="get" action="https://dpti.sa.gov.au/saplanningportal/development_application_register">
                        <label for="AddrSearch" class="font-weight-normal">Enter an property address</label>
                        <div class="col-12 p-0 mb-0 input-group">
                            <!--<input type="hidden" name="SQ_ENVIRONMENT" value="uat" />-->
                            <input type="text" name="AddrSearch" value="" size="25" aria-label="Development Search Field" title="Development Search Field" class="sq-form-field" id="AddrSearch" placeholder="e.g. King William">
                            <!--@@ updated to use bootstrap group/prepend @@-->
                            <div class="input-group-prepend">
                                <button type="submit" id="home_dev_search_submit" name="home_dev_search_submit" aria-label="Search-Submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
        			</form>
                </div>
            </div>
        </div>
    </div>
</div>
  