<section class="jumbotron jumbotron-fluid bg-teal p-0 mb-0" id="feedback-widget">
    <div class="container p-3 p-sm-0">
        
        <div class="row py-5 py-sm-5 py-md-6 px-0">
            <div class="col-sm-12 col-md-4 col-lg-4 btn-widget">
                <p class="title-widget mb-4">Was this page helpful?</p>
                <div class="btngroup">
                    <button type="button" data-action="data-value-yes" class="btn btn-outline-secondary px-4">Yes</button>
                    <button type="button" data-action="data-value-no" class="btn btn-outline-secondary px-4">No</button>
                
                    <select name="q646412:q1" id="q646412_q1" class="sq-form-field d-none" aria-label="Was this page helpful?">
                        <option value="Yes" selected="selected">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="container-widget col pb-5 pb-sm-5 pb-md-6 px-3 px-md-0 d-none">
            <div class="form-group">
                <div class="col-sm-12 col-md-6 col-lg-5 align-items-end p-0 mt-2" id="feedback-widget-comment">
                    <label for="q646412_q2" class="m-0 w-100">
                        <div data-value-no="%question_name_646412_q2%" data-value-yes="Thank you for your feedback." class="mt-4 mb-4 font-weight-bold">%question_name_646412_q2%</div>
                        %question_field_646412_q2%
                        
                    </label>
                </div>
            </div>
            <div class="row pt-1 px-3 px-md-0">
                <div class="col-sm-12 col-md-6 col-lg-5 align-items-end p-0 mt-2" id="feedback-widget-submit">
                    <input type="submit" name="form_email_646403_submit" value="Submit" class="btn btn-outline-secondary px-4 mt-2 float-right submit" id="form_email_646403_submit">
                </div>
            </div>
        </div>
        <div class="d-none">
            
            <label for="q646409_q2" class="d-none">Refering Page</label>
            <input type="hidden" name="q646409:q2" value="%globals_page_referrer%" id="q646409_q2">
            
            <label for="q646409_q3" class="d-none">Current Page</label>
            <input type="hidden" name="q646409:q3" value="%frontend_asset_name%: %frontend_asset_url%" id="q646409_q3">
            
            <label for="q646409_q4" class="d-none">Type of visitor</label>
            <input type="hidden" name="q646409:q4" value="%begin_globals_user_is_logged_in%StateNet%else_globals%%globals_user_member_groups^eq:273186:Public:StateNet%%end_globals%" id="q646409_q4"> 
            
        </div>
        
    </div>
</section>
<script runat="server">
    if(typeof loadFooterScript == 'undefined' || loadFooterScript.length < 1){var loadFooterScript = [];}
    
    loadFooterScript.push('<script defer type="text/javascript" src="./?a=646414" data-file="UAT_feedback-widget.js"><\/script>');
</script>
