<script runat="server" src="./?a=625997" data-file="UAT_sapp-language-main.js"></script>
<script runat="server" src="./?a=646386" data-file="DEV_ADMIN-ONLY.JS"></script>

<title>[UAT] %frontend_asset_is_homepage^eq:1::{frontend_asset_name} | %SA Planning Portal</title>

<!-- Misc Metadata -->
<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Custom Metadata -->
%begin_frontend_asset_is_homepage^eq:1%
%globals_asset_frontend_metadata:578868%
%else_frontend_asset%
%frontend_asset_frontend_metadata%
%end_frontend_asset%

<meta itemprop="name" content="%frontend_asset_name%" />
<meta itemprop="description" content="%frontend_asset_metadata_description%" />
<meta itemprop="image" content="%frontend_asset_thumbnail_url%" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="%frontend_asset_name%" />
<meta name="twitter:description" content="%frontend_asset_metadata_description%" />
<meta name="twitter:image" content="%frontend_asset_thumbnail_url%" />

<meta property="og:title" content="%frontend_asset_name%" />
<meta property="og:type" content="website" />
<meta property="og:url" content="%frontend_asset_url%" />
<meta property="og:image" content="%frontend_asset_thumbnail_url%" />
<meta property="og:description" content="%frontend_asset_metadata_description%" />
<meta property="og:site_name" content="%globals_site_name%" />
<meta property="article:published_time" content="%frontend_asset_published^date_format:c%" />
<meta property="article:modified_time" content="%frontend_asset_updated^date_format:c%" />
<meta property="article:tag" content="%frontend_asset_metadata_keywords^replace:;:%" />



<!-- <link rel="dns-prefetch" href="https://fonts.googleapis.com"> -->
<link rel="dns-prefetch" href="https://ajax.googleapis.com">
<link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com">
<link rel="dns-prefetch" href="https://kit.fontawesome.com">

<link rel="preconnect" crossorigin href="https://ajax.googleapis.com">
<link rel="preconnect" crossorigin href="https://maxcdn.bootstrapcdn.com">
<link rel="preconnect" crossorigin href="https://kit.fontawesome.com">
<link rel="preconnect" crossorigin href="https://kit-free.fontawesome.com">

<!-- CSS -->
<link href="./?a=625837?v=%globals_asset_version:625837%" rel="stylesheet">    <!--@@ UAT lib.css @@-->
%begin_frontend_asset_is_homepage^eq:1%
  
<!--@@ UAT homepage custom.css @@-->
<link href="./?a=646444?v=%globals_asset_version:646444%" rel="stylesheet">
%end_frontend%
<!--@@ UAT custom.css @@-->
<link href="./?a=625838?v=%globals_asset_version:625838%" rel="stylesheet">


<!-- Favicons -->
<link rel="shortcut icon" href="%globals_site_metadata_design.favicon^as_asset:asset_url%">
<link rel="apple-touch-icon" href="%globals_site_metadata_design.favicon^as_asset:asset_url%">