<div class="navbar navbar-expand-md border-0 p-0 d-flex flex-column">
    <div class="container px-0">
        <!--@@ Header logo, button, search @@-->
        <div class="header-content d-flex justify-content-between">
            <div class="header-content_lhs logo d-flex align-items-center">
                <a href="%globals_site_url%"><img class="saportal-logo" src="./?a=659209" alt="%globals_site_name%"></a>
            </div>
            <div class="header-content_rhs col-6 col-md-9 col-lg-7 col-xl-6 d-flex justify-content-md-end justify-content-lg-end justify-content-end p-0 ie-right-col">
                <div class="btn-group ml-xl-8 ">
                    <a class="btn btn-register" href="./?a=648964">Register</a> <a type="button" class="btn btn-login ml-sm-0 ml-lg-3 mt-2 mt-lg-0 mr-2 mr-lg-0" href="https://dptiuat.appiancloud.com/suite/sites/dap/" target="_self" title="login"> Login </a>
                </div>
                <div for="input-search" id="header-search" class="form-group p-0 m-0 search-icon d-none d-lg-block ml-md-3">
                    <form action="./?a=638897" method="GET">
                    <div class="input-group my-auto">
                        <input type="hidden" name="SQ_ENVIRONMENT" value="uat" />
                        <input type="text" name="queries_q_query" value="" size="25" aria-label="input-search" title="search the SA Planning Portal" class="sq-form-field" id="queries_q_query" placeholder="Find something">
                        <!--@@ updated to use bootstrap group/prepend @@-->
                        <div class="input-group-prepend">
                            <button type="submit" id="site_search_submit" name="site_search_submit" aria-label="Search-Submit">
                                <i class="psa-icon icon-search"></i>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
                
                <button class="btn-mainmenu-open btn btn-mainmenu collapsed d-lg-none my-3 px-1 pl-3 pr-7 icon-bars" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> Menu
                </button>
                <button class="btn-mainmenu-close btn btn-mainmenu icon-close my-3 px-1 pl-3 pr-7" type="button"style="display:none"> Menu </button>
                <button class="btn btn-search mobile-searchicon my-3 d-block d-lg-none ml-3" data-toggle="collapse" data-target="#mobileSearch" aria-expanded="false" type"button" >
                </button>
            </div>
        </div>
        <!--@@ Header logo, button, search End @@-->                      
    </div>
    
</div>

<div class="search-bar collapse" id="mobileSearch">
    <form class="search-form" form action="./?a=638897" method="GET">
        <input type="hidden" name="SQ_ENVIRONMENT" value="test" />  
        <input type="text" class="form-control" id="search-text" name="queries_q_query" value="" size="25" aria-label="input-search" title="search the SA Planning Portal" placeholder="Find something">
        <button type="submit" class="btn search-btn mobile-searchicon psa-icon icon-search"></button>
    </form>
</div>

<style>
    #banner.jumbotron {
        background-image: url(./?a=659174);
    }
</style>