<section id="cta" class="">
    <div class="container px-3 px-sm-0">
        <div class="row no-gutters">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="px-2 px-sm-5 text-break nav-item nav-link active" id="%asset_metadata_id-1%" data-toggle="tab" href="#%asset_metadata_content-id-1%" role="tab" aria-controls="%asset_metadata_content-id-1%" aria-selected="true">%asset_metadata_title-1%</a>
                        %begin_asset_metadata_number-tabs^eq:2%
                        <a class="px-2 px-sm-5 text-break nav-item nav-link" id="%asset_metadata_id-2%" data-toggle="tab" href="#%asset_metadata_content-id-2%" role="tab" aria-controls="%asset_metadata_content-id-2%" aria-selected="false">%asset_metadata_title-2%</a>
                        %end_asset%
                    </div>
                </nav>
                
                <div class="bg-white tab-content" id="nav-hometabs">
                    
                    <div class="bg-white tab-pane fade show active" id="%asset_metadata_content-id-1%" role="tabpanel" aria-labelledby="%asset_metadata_id-1%">
                        
                        <div class="row no-gutters py-0 py-lg-4">
                            %begin_asset_metadata_content-heading-1a^neq:%
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-1a%_%globals_random_1_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-1a^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-1a%</span></a>
                                    </div>
                                </div>
                            </div>
                            %end_asset%
                            %begin_asset_metadata_content-heading-1b^neq:%
                        
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-1b%_%globals_random_2_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-1b^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-1b%</span></a>
                                    </div>
                                </div>
                            </div>
                            %end_asset%
                            %begin_asset_metadata_content-heading-1c^neq:%
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-1c%_%globals_random_3_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-1c^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-1c%</span></a>
                                    </div>
                                </div>
                            </div>
                            
                            %end_asset%
                            %begin_asset_metadata_content-heading-1d^neq:%
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-1d%_%globals_random_4_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-1d^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-1d%</span></a>
                                    </div>
                                </div>
                            </div>
                            %end_asset%
                            %begin_asset_metadata_content-heading-1e^neq:%
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-1e%_%globals_random_5_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-1e^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-1e%</span></a>
                                    </div>
                                </div>
                            </div>
                            %end_asset%
                        
                            
                            <!-- break -->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--tab 2 here-->
                    %begin_asset_metadata_number-tabs^eq:2%
                    <div class="bg-white tab-pane fade" id="%asset_metadata_content-id-2%" role="tabpanel" aria-labelledby="%asset_metadata_id-2%">
                        %begin_asset_metadata_content-heading-2a^neq:%
                        <div class="row no-gutters py-0 py-lg-4">
                            %begin_asset_metadata_content-heading-2a^neq:%
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-2a%_%globals_random_6_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-2a^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-2a%</span></a>
                                    </div>
                                </div>
                            </div>
                            %end_asset%
                            %begin_asset_metadata_content-heading-2b^neq:%
                        
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-2b%_%globals_random_7_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-2b^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-2b%</span></a>
                                    </div>
                                </div>
                            </div>
                            %end_asset%
                            %begin_asset_metadata_content-heading-2c^neq:%
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-2c%_%globals_random_8_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-2c^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-2c%</span></a>
                                    </div>
                                </div>
                            </div>
                            
                            %end_asset%
                            %begin_asset_metadata_content-heading-2d^neq:%
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-2d%_%globals_random_9_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-2d^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-2d%</span></a>
                                    </div>
                                </div>
                            </div>
                            %end_asset%
                            %begin_asset_metadata_content-heading-2e^neq:%
                            <div class="col-12 col-lg d-flex align-items-stretch w-100">
                                <div class="card w-100">
                                    <div class="card-block text-center px-2 py-5 py-lg-2">
                                        <span class="tab_icon mx-auto my-6" id="%asset_metadata_content-icon-2e%_%globals_random_0_9999%"></span>
                                        <a tabindex="0" href="%asset_metadata_content-url-2e^as_asset:asset_url%" class="stretched-link"><span class="d-block card-title">%asset_metadata_content-heading-2e%</span></a>
                                    </div>
                                </div>
                            </div>
                            %end_asset%
                        
                            
                            <!-- break -->
                            <div class="clearfix"></div>
                        </div>
                        %end_asset%
                        
                    </div>
                    
                    %end_asset%
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Template - %asset_paint_layout_id^as_asset:asset_name% End -->  
