<div class="alert-body">
    <p paraid="1476832138" paraeid="{7e5dbd74-c94a-450a-8ec6-c8be102e341e}{162}">
      This wizard helps identify development&nbsp;types that don't&nbsp;usually&nbsp;require approval.
    </p>
  </div>
  <div>
    <div>
      <p paraid="1867165883" paraeid="{7e5dbd74-c94a-450a-8ec6-c8be102e341e}{180}" class="alert alert-infoBlock">
        This wizard is a guide only and is not a substitute for professional advice.
      </p>
    </div>
    <div>
      <p paraid="1339737577" paraeid="{7e5dbd74-c94a-450a-8ec6-c8be102e341e}{188}">
        The advice given in this wizard does&nbsp;not apply&nbsp;if&nbsp;your development type&nbsp;is part of a larger project that requires approval, for example,&nbsp;building a new house.&nbsp;This wizard only provides advice for developments undertaken individually.
      </p>
    </div>
    <div>
      <p paraid="1166809609" paraeid="{7e5dbd74-c94a-450a-8ec6-c8be102e341e}{208}">
        The State Planning Commission, a court, council or other relevant authority may have an interpretation of the law that's different from this wizard.
      </p>
    </div>
    <div>
      <p paraid="973627931" paraeid="{7e5dbd74-c94a-450a-8ec6-c8be102e341e}{220}">
        You should always confirm that you are permitted to&nbsp;commence a development&nbsp;by contacting a relevant authority who may be:
      </p>
    </div>
    <div>
      <ul role="list">
        <li data-leveltext="" data-font="Symbol" data-listid="1" aria-setsize="-1" data-aria-posinset="1" role="listitem" data-aria-level="1">
          the&nbsp;<a href="https://www.lga.sa.gov.au/sa-councils/councils-listing" target="_blank">local council</a>;&nbsp;or
        </li>
        <li data-leveltext="" data-font="Symbol" data-listid="1" aria-setsize="-1" data-aria-posinset="1" role="listitem" data-aria-level="1">
          the&nbsp;<a href="https://www.saplanningcommission.sa.gov.au/scap" target="_blank">State Commission Assessment Panel</a>; or
        </li>
        <li data-leveltext="" data-font="Symbol" data-listid="1" aria-setsize="-1" data-aria-posinset="1" role="listitem" data-aria-level="1">
          a private <a href="./?a=652669">Accredited Professional</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <p paraid="1620040597" paraeid="{10982756-d5c3-43f5-8584-2fb925c63ee1}{3}">
        By clicking&nbsp;'I Agree', you acknowledge that you have read and agree to these terms and to the <a href="https://www.dpti.sa.gov.au/website_disclaimer" target="_blank" rel="noreferrer noopener">Disclaimer</a> and <a href="https://www.dpti.sa.gov.au/privacy" target="_blank" rel="noreferrer noopener">Privacy statement</a>.
      </p>
    </div>
  </div>