.alert.alert-infoBlock > svg.svg-inline--fa {
    font-size: 2em;
    margin-right: 0.5em;
}
.alert.alert-infoBlock::before {
    background-image: get-icon-attention($transparent, $psa-charcoal100);
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    margin-left: -60px;
    top: 9px;
}
.alert.alert-infoBlock {
    font-weight: 700;
    padding-left: 60px !important;
}



.alert{

    &.alert-psa-dpti-teal{
        border-left: 10px solid $psa-dpti-teal;
    }

    &.alert-psa-dpti-pink{
        border-left: 10px solid $psa-dpti-pink;
    }
}
