.home{
    #news_cards{
        
        background-color: $psa-charcoal2;

        .card-wrapper:last-child{
            padding-right: 0!important;
        }
    }
}
      
      

        
.card-deck{
    
    flex-direction: row;
        
    @media (min-width: 992px){
        flex-direction: row;
    }
    
    @media (max-width: 768px){
        flex-direction: column;
    }
    
            
    .card {
        @media (max-width: 576px){
                margin-right: 0;
                margin-left: 0;  
        }
    }
}

.card-deck, .card-sidebar {
    
    .card{
        background-color: $white;
        border: none;
    	box-sizing: border-box;

        &:hover, 
        &:focus {
            outline: none;
            -webkit-appearance: none;
            @include useColourBorder($inputfield-box-shadow);
        }
        
        .card-body{
            overflow: hidden;
            
            .card-title {
                a{
                    color: $black;
                    text-decoration: none;
                }

                &.h3_news{
                    font-size: 24px;
                }

            }
            
        }
        .card-footer{
            background-color: $transparent;
            border-top: none;
            font-size: 80%;
        }
        
        margin-bottom: 3em;
        
        @media (min-width: 992px){
            margin-bottom:0;
        }
    }   
}




.news-deck{
    .card{
        min-width: 100%;
        margin-bottom: 3em;
            
        @media (min-width: 992px){
            margin-bottom:0;
            min-width: 33%;
        }
    }
}


a.news-tag{
    text-decoration: none;
    color: $black;
    font-size: 0.9rem;
    
    &:hover{
        color: $white;
        background: $psa-charcoal100;
        text-decoration: underline;
    }
}

.sq-form-field:focus + .checkmark {
    border-color: #121212;
    box-shadow: 0 0 3px 2px rgba(215,49,49,.8);
    -webkit-box-shadow: 0 0 3px 2px rgba(215,49,49,.8);
    -moz-box-shadow: 0 0 3px 2px rgba(215,49,49,.8);
    outline: none;
    -webkit-appearance: none;
}

