// @use "src/pagination" as *;
@mixin pagination_bg {
    background-color: $psa-dpti-pink;
    border-color: $psa-black;
}


.page-content,
.dataTables_paginate,
.full-width {
    .pagination,
    .pagination.simple-pagination {
        li {
            .ellipse.clickable {
                display: block;
                line-height: 1.25;
                border: 1px solid $gray-300;
                padding: 0.5rem 0.75rem;
                >input {
                    padding: 0;
                    border: none;
                }
            }
            .page-link {
                position: relative;
                display: block;
                margin-left: 0px;
                line-height: 1.25;
                color: $psa-black;
                background-color: transparent;
                padding: 0.5rem 0.75rem;

                &:focus, &:hover{
                    @include useColourBorder($inputfield-box-shadow);
                    border-color: #121212;
                }
            }
            &.disabled {
                cursor: no-drop;
                &>a,
                &>span,
                &>a:focus,
                &>a:hover,
                &>span:focus,
                &>span:hover {
                    color: $psa-black;
                    position: relative;
                    display: block;
                    padding: 0.5rem 0.75rem;
                    line-height: 1.25;
                    border: 1px solid $gray-300;
                }
            }
            &.active {
                cursor: no-drop;
                
                &>a,
                &>span,
                &>a:focus,
                &>a:hover,
                &>span:focus,
                &>span:hover {
                    padding: 0.5rem 0.75rem;
                    color: $psa-black;
                    position: relative;
                    display: block;
                    line-height: 1.25;
                    border-style: solid;
                    border-width: 1px;
                    border-color: $psa-black;
                    @include pagination_bg;
                }
            }
        }
    }
}

.bootstrap-table {
    .pagination {
        li {
            &.page-last-separator {
                display: block;
                line-height: 1.25;
                >input {
                    padding: 0;
                    border: none;
                }
            }
            &.page-number,
            &.page-next,
            &.page-last,
            &.page-pre,
            &.page-first {
                position: relative;
                display: block;
                line-height: 1.25;
                color: $psa-black;
                background-color: transparent;
            }
            &.disabled,
            &.page-pre {
                cursor: no-drop;
                &>a,
                &>span,
                &>a:focus,
                &>a:hover,
                &>span:focus,
                &>span:hover {
                    background-color: transparent;
                    color: $psa-black;
                }
            }
            .page-link {
                position: relative;
                display: block;
                margin-left: -1px;
                line-height: 1.25;
                color: $psa-black;
                background-color: transparent;
                padding: 0.5rem 0.75rem;

                &:focus, &:hover{
                    @include useColourBorder($inputfield-box-shadow);
                    border-color: #121212;
                }
            }
            &.active {
                cursor: no-drop;
                &>a,
                &>span,
                &>a:focus,
                &>a:hover,
                &>span:focus,
                &>span:hover {
                    color: $psa-black;
                    position: relative;
                    display: block;
                    margin-left: -1px;
                    line-height: 1.25;
                    border-style: solid;
                    border-width: 1px;
                    border-color: $psa-black;
                    @include pagination_bg;
                }
            }
            &.disabled {
                cursor: no-drop;
                &>a,
                &>span,
                &>a:focus,
                &>a:hover,
                &>span:focus,
                &>span:hover {
                    color: $psa-black;
                    position: relative;
                    display: block;
                    line-height: 1.25;
                }
            }
        }
    }
}