// ====================================================
// Fonts and Typography
// ====================================================
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size !important;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})) !important;
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size !important;
            }
        }
    }
}

$min_width: 320px;
$max_width: 1200px;

// Headings
h1, .h1{
    @include fluid-type($min_width, $max_width, 32px, 48px);
}

h2, .h2{
    @include fluid-type($min_width, $max_width, 24px, 35px);
}
h3, .h3{
    @include fluid-type($min_width, $max_width, 20px, 30.21px);
}
h4, .h4{
    @include fluid-type($min_width, $max_width, 18px, 22.66px);
}



//Heading Spacing
@media (max-width: 767px){
    h1, .h1 {

    }
    h2, .h2 {
        margin-top: 2rem;
        margin-bottom: 1.25rem;
    }
    h3, .h3 {
        margin: 1rem 0 1.25rem;
    }
    h4, .h4 {
        margin: 1rem 0 1rem;
    }
    h5, .h5 {

    }
    h6, .h6 {

    }
}
@media (min-width: 768px){
    h1, .h1 {

    }
    h2, .h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    h3, .h3 {
        margin: 2rem 0 1.5rem;
    }
    h4, .h4 {
        margin: 1.75rem 0 1rem;
        display: block;
    }
    h5, .h5 {

    }
    h6, .h6 {

    }
}
@media (max-width: 576px) {
    h1, .h1 {

    }
    h2, .h2 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    h3, .h3 {
        margin: 1rem 0 0.5rem;
    }
    h4, .h4 {
        margin: .8rem 0 0.5rem;
    }
    h5, .h5 {

    }
    h6, .h6 {

    }
}

.footer_footnote{
    @include fluid-type($min_width, $max_width, 10px, 12px);
}


@media (hover: none){
    input,
    select:focus,
    textarea {
        font-size: 16px !important;
    }
}

@media (min-width: 992px){
    input,
    select:focus,
    textarea {
        font-size: 16px !important;
    }
}

// Breadcrumbs
.breadcrumb-item+.breadcrumb-item::before {
    @include useFontAwesome;
    padding-right: 15px;
}

.breadcrumb-item+.breadcrumb-item>svg.svg-inline--fa {
    font-size: 1.1em;
    margin: 0 5px 0 0;
}

// help text
a[href*="#hovertext"],
a[data-action=hovertext],
*[data-hover=hovertext] {
    cursor: help;
    text-decoration: none !important;
    border-bottom: 1px dashed $jelly-bean;
}

// Intro
.lead {
    font-size: 1.3em;
    font-weight: 400;
    // border-bottom: 1px solid $alto;
    margin-bottom: 1.75em;
    padding-bottom: 1.5em;
}

@for $i from 25 through 100 {
    @if $i % 5==0 {
        .font-#{$i} {
            font-size: percentage($i / 100);
        }
    }
}

fieldset {
    min-width: max-content;
}

// Blockquote
blockquote {
    padding: 1rem;
    font-style: italic;
}

// Definition list
dt {
    font-weight: bold;
    margin: 1em 0;
}

dd {
    font-style: italic;
    margin: 0 0 .5em 1em;
}

// Code
pre {
    padding: 0.2rem 0.4rem;
    font-size: inherit;
    color: $red;
    background-color: $athens-gray;
}

//Images
img {
    // max-width: 100%;
    // height: auto;
}

//Badge
.badge{
    font-size: 0.8em !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
    padding: 0.5em !important;

    &.badge-purple{
        background-color: $psa-dpti-red;
        color: $white;
    }

    &.badge-orange{
        background-color: $orange;
    }
    
    &.badge-blue {
        background-color: $underassesment-blue;
        color: $white;
    }
    
    &.badge-dark {
        background-color: $decision-grey;
        color: $white;
    }
    
    &.badge-default {
        background-color: $draft-grey;
        color: $white;
    }

    &.badge-green{
        background-color: $success;
        color: $white;
    }
}



.register-description-less, .register-description, .link{
    color: $link-color;
}

