.carousel{
    
    .carousel-controls {
        bottom: -5px;
        right: 0;
        left: 0;
        z-index: 15;
        padding-right: 8rem;

        button {
            font-size: 1.25rem;
            color: $white;

            &:disabled {
                color: $psa-dpti-red;
                cursor: no-drop;
                display: none;
            }
        }
    }

    .carousel-inner {
        overflow-y: visible;
        overflow: inherit;
    }

    .carousel-item {
        transition: transform 0s ease-in-out; 
    }
    
    .carousel-indicators {
        outline: 0;
        li {
            border: 3px solid $white;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: relative;
            background-color: $psa-black;
        }
    }

     //caro nav
    .carousel-control-prev-icon {
        background-image: get-icon-carousel($white, $psa-black);
        transform: rotate(180deg);
    }
    
    .carousel-control-next-icon {
        background-image: get-icon-carousel($white, $psa-black);
    }
    
    
    .carousel-control-prev, .carousel-control-next{
        width: auto;
        opacity: 1;
    }
    
    .carousel-control-prev{
        justify-content: flex-start;
        margin-left: 1rem;

        @media (max-width: 992px) {
            margin-left: .5rem;
        }
    }
    
    .carousel-control-next{
        justify-content: flex-end;
        margin-right: 1rem;

        @media (max-width: 992px) {
            margin-right: .5rem;
        }
    }
    
    .carousel-control-next-icon, .carousel-control-prev-icon {
        background-size: 30px;
        height: 30px;
        width: 30px;
        
        @media (max-width: 992px) {
            display: none;
        }
    }   
    
    .carousel-indicators{
        outline: 0;

        li{
            border: 3px solid $white;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: relative;
            background-color: $psa-black;
        }
    }   
    //caro nav end

    .carousel-content_wrapper{
        display: flex;
        flex-direction: row;

        @media (max-width: 992px) {
            flex-direction: column-reverse;
        }
        .colour-block {
            padding-bottom: 0.5rem;
        }
        .colour-block_inner{
            margin-left: auto;
            width: 80%;
            max-width: 700px;
            padding: 0 2rem 0 0;

            @media (max-width: 992px) {
                margin: 0 auto;
                max-width: 100%;
                width: 100%;
                padding: 2.5rem 3rem 4rem;

                h2{
                    margin-top: 0;
                }
            }
            @media (max-width: 576px) {
                padding: 2.5rem 2rem;
            }

            a.btn{
                background-color: $transparent;

                &:focus, &:active{
                    background-color: $transparent;
                }
            }
        }
    }
    

    // slide specifics
    [data-colour="teal"]{
        background-color: $psa-dpti-teal;
    }
    [data-colour="red"]{
        background-color: $psa-dpti-red;

        .colour-block_inner,
        span[class^="sq-asset-tag__asset"],
        .sq-asset-tag__asset-id {
            color: $white;
            
            a{
                color: $white;
                border: $white 1px solid;
                background-color: $transparent;
                
                &:after{
                    content: "";
                    background-image: get-icon-arrow($white, $transparent);
                }

                &:focus{
                    box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
                    -webkit-box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
                    -moz-box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
                }

                &:hover{

                }
            }
        }
    }
    
    [data-colour="pink"]{
        background-color: $psa-dpti-pink;
    }
    [data-colour="grey"]{
        background-color: $psa-black;

        .colour-block_inner,
        span[class^="sq-asset-tag__asset"]  {
            color: $white;
            
            a{
                color: $white;
                border: $white 1px solid;

                &:after{
                    content: "";
                    background-image: get-icon-arrow($white, $transparent);
                }
            }
        }
    }
    [data-colour="white"]{
        background-color: $psa-charcoal20;
    }
    
    .slide-image{
        height: 600px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        @media (max-width: 992px) {
            height: 300px;
        }
        @media (max-width: 576px) {
            height: 200px;
        }
        
    }
}



