.home h1 {
    font-size: 1.75rem;
}
#banner{
    
    &.jumbotron {
        // background-image: url(./?a=637451);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
        > .img-wrapper {
            background-color: rgba(0, 0, 0, 0.3);
            /*position: absolute;*/
            /*top: 0;*/
            /*left: 0;*/
            width: 100%;
            height: 100%;
        }
    }
    
    .btn-outline-secondary {
        color: $white;
        border-color: $white;
        background-color: $transparent;
        padding: 0.6rem 1rem;
        font-weight: 600;
        border: 2px solid $white;
        font-size: 1em;
        
        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
}

#cta {
    // margin-top: -3.6rem;

    @media (max-width: 568px){
        margin-top: 0;
    }
    
    .nav-tabs {
        flex-wrap: nowrap;
        @include useColourBorder(0rem -0.3rem 0.3rem 0.2rem rgba(0, 0, 0, .1));
        border-bottom: none;
        
        .nav-link {
            color: $white;
            background-color: $black;
            border: 0px solid $white; 
            margin-bottom: 0;
            font-weight: bolder;
            flex: 1 1 auto;
            text-align: center;
            z-index: 99;
            text-decoration: none;
            padding-top: 1rem;
            padding-bottom: 1rem;
            display: inline-block;
            padding-right: 4rem !important;
            
            @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none){
                padding-right: 2rem !important;
            }

            @media (max-width: 992px){
                padding-right: 2rem !important;
                padding-left: 2rem !important;
            }

            @media (max-width: 768px){
                padding-right: 1rem !important;
                padding-left: 1rem !important;
            }

            &.active {
                color: $white;
                background-color: $psa-dpti-red;
                border: 0px solid $psa-dpti-red; 
                margin-bottom: -1px;
            }

            &::after{
                content: "";
                background-image:  get-icon-ellipse($white);
                position: absolute;
                height: 16px;
                width: 16px;
                top: 33px;
                margin-left: 22px;
                display: inline-block;
                
                @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none){
                    display: none;
                    margin-left: 0;
                }
            }

            @media (max-width: 992px){
                &::after{
                    display: none;
                }
            }
        }
    }

    .tab-content {
        background-color: $psa-dpti-red;

        .tab-pane.active{
            display: inline-block;
            padding: 3.5em 1.5em 1.5em 1.5em;
            
            ul{
                padding-inline-start: 0;
                padding: 0;
                
                li.link-wrapper{
                    display: inline-block;
                    margin: 1.2em 0;
                    
                    a{
                        padding: 0.75em 1.2em .75em 3.5em;
                        border: 1px #fff solid;
                        margin: .75em;
                        border-color: $white;
                        color: $white;
                        text-decoration: none;
            
                        &.psa-arrow::before{
                            content: '';
                            background-image: get-icon-arrow($white, $transparent);
                            height: 22px;
                            width: 22px;
                            position: absolute;
                            background-repeat: no-repeat;
                            margin-left: -45px;
                            margin-top: 6px;
                        }
                        
                        &:hover {
                            color: $psa-dpti-red;
                            background-color: $white;
                        
                            &.psa-arrow::before{
                                animation: headShake 2000ms;
                                background-image: get-icon-arrow($psa-dpti-red, $transparent);
                            }
                        }

                        @media (max-width: 575px){
                            padding: 1em;
                            text-align: center;
                            width: 100%;
                            display: inline-block;
                            margin: 0;

                            &.psa-arrow::before{
                                content: '';
                                display: none;
                            }
                        }
                    }

                    @media (max-width: 575px){
                        margin: 0.5em 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}




@media (min-width: 992px) { /* 576px */
    .home h1 {
        font-size: 2.1rem;
    }
    #banner.jumbotron {
        height: 600px;
    }

    // #cta {
    //   margin-top: -5.06rem;
    // }
    
    #cta .nav-tabs {
        @include useColourBorder(0rem 0rem 0rem 0rem rgba(0, 0, 0, 0));
    }

    #cta .nav-tabs .nav-link {
        background-color: $blackrgba; /* $blackrgba */
        flex: none;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
    }

    .tab_icon{
        display: block;
        height: 40px;
        width: 40px;
        overflow: hidden;
        background-size: 100% !important;
    }
}


#home_dev_search{
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 32px 0;
    
    label{
        padding-left: 0;
    } 
    
    input{
        padding-left: 2rem;
    }
    
    input {
        height: 64px;
    }
    
    button[type="submit"]{
        background: none;
        border: none;
        position: absolute;
        top: 0.1em;
        right: 0.1em;
        font-size: 1.3rem;
        z-index: 9;
        
        .psa-icon{
            position: absolute;
            left: -32px;
            top: 10px;;
        }
        @media (min-width: 769px) {
            top: 0.3em;
        }
    }
 
}


#cta, #placeholder2{
    background-color: $psa-charcoal2;
}
