#home-tabs{
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    border-bottom: none;

    li{
        margin-right: 14px;
        float: none;
        display: inline-block;
        zoom: 1;
        
        @media (max-width: 992px) {
            text-align: center;
            width: 100%;
            margin-right: 0;
        }

        a{
            font-size: 22px;
            padding: 1rem 3rem;
            background-color: $psa-charcoal100;
            color: $white;

            &.active{
                background-color: $white;
                color: $psa-charcoal100;
                text-decoration: none;
                border-color: $transparent;
            }

            &:hover{
                box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
                -webkit-box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
                -moz-box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
            }

            &:focus{
                box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
                -webkit-box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
                -moz-box-shadow: 0 0 3px 2px rgba(215, 49, 49, 0.8);
                outline: $psa-dpti-red;
            }
        }
    } 
}

.tab-bkgnd{
    background-color: $white;
    .tab-content {
    
        &> .active {
            display: block !important;
        }

        .row{
            background-color: $white;
            border-bottom: 1px solid $psa-charcoal40;
            
            .pane-image{
                text-align: center;
                
                img{
                    border-radius: 50%;
                }
            }

            .pane-copy{

                a{
                    margin: 2rem 0;
                }
            }
        }
    }
}