#breadcrumbs {
    display: none;
}
.jconfirm {
    
    &.jconfirm-supervan .jconfirm-box div.jconfirm-content {
        text-align: left; 
        color: white;
    }
    .jconfirm-box div.jconfirm-content-pane {
        overflow-y: hidden;
        overflow-y: auto;
    }
}
#dawizard {
    .easy-autocomplete-container {
		z-index: 9999;
		top: 45px;
	}
    .easy-autocomplete #address-lookup {
		padding-right: 10px;
	}
	fieldset {
	    
	    > legend {
	       // display: none;
	    }
	}
	.fetching .btn.btn-primary > svg.svg-inline--fa {
        margin-left: 0em;
    }
    #ih-zone {
        display: none;
        .alert-message-title {
            
            padding: .5rem .75rem;
            font-weight: bold;
            display: inline-block;
            color: $white;
            width: 100%;
            font-size: 1.5rem;
            text-align: center;
            position: relative;
            padding: 3rem;
            
            &.excempt {
                // border: 2px solid rgba(51, 101, 143, .5);
                -webkit-background-clip: padding-box; /* for Safari */
                background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
                background-color: $success;
                
            }
            &.not-excempt {
                // border: 2px solid rgb(220, 39, 56);
                // border: 2px solid rgba(220, 39, 56, .5);
                -webkit-background-clip: padding-box; /* for Safari */
                background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
                background-color: $warning;
            }
        }
        
        #policy {
            
            ul > li {
                
                &.alert {
                    margin-left: -1.25rem;
                    list-style-position: inside;
                    margin-top: 1rem;
                }
            }
        }
    }
    .page-heading {
        
        > span.h2 {
            padding: 0;
            margin: 0;
            display: block;
            font-weight: 400;
            font-size: 1.6rem;
        }
        > span.h1 {
            font-size: 2.5rem;
            line-height: 1;
        }
    }
    
    .da-step, 
    .da-answer {
        display: none;
    }
    .loader-xs {
        border: 5px solid #f2f2f2;
        border-top: 5px solid #3778be;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        animation: spin 1.4s linear infinite;
        margin: 0 auto;
    }
}