.accordion[id^="accordion"]{
    .card-header {
        border-bottom: none;
        &:hover,
        &:focus {
            cursor: pointer;
            box-sizing: border-box;
            @include useColourBorder($inputfield-box-shadow);
        }
        &:after {
            content: "";
            height: 18px;
            width: 23px;
            position: absolute;
            background-repeat: no-repeat;
            transition: all .2s;
            background-image: get-icon-chevron($psa-black);
            right: 16px;
            top: 30px;
        }
        &[aria-expanded="true"] {
            border-bottom: 1px solid $gray-300;
            &:after {
                content: "";
                height: 18px;
                width: 23px;
                position: absolute;
                background-repeat: no-repeat;
                transition: all .2s;
                background-image: get-icon-chevron-up($psa-black);
                right: 16px;
                top: 30px;
            }
        }
    }
    
    .card {
        margin: 0.625em 0px;
        border: none;
            .card-header {
                border: none;
                text-align: left;
            }
    }
    
}

@media (max-width: 576px) {
 
    .accordion[id^="accordion"] {
        .card-header {
            &> .svg-inline--fa.fa-w-16 {
                top: 0.45em;
                font-size: 1em;
            }
        }
    }
}