// Button submit, Button reset 
$button-submit-icon: "\f054";
$button-reset-icon: "\f0e2";
$calendar-icon: '\f073';

// form labels & input fields 
$inputfield-box-color: $psa-dpti-red;
$inputfield-box-shadow: 0 0 3px 2px rgba($inputfield-box-color, .8);

$inputfield-border-color: $psa-black25;
$inputfield-border: 1px solid $inputfield-border-color;
$inputfield-padding: .5em;
$formlabel-margin-bottom: 0;
$smalltext-line-height: 1.3157em;
$smalltexttop-margin: 0 0 0.4em 0;
$inputfield-background-color: $white;
$selectdropdown-arrow-down-icon: "\f0d7";
$checkcontainer-padding-left: 2.5em;
$checkcontainer-margin-bottom: 0.63em;

// checkbox 
$checkmark-top: 14px;
$checkmark-left: 0;
$checkmark-border-color: $blk;
$checkmark-border: 1px solid $inputfield-border-color;
$checkmark-height: 2.2em;
$checkmark-width: 2.2em;

// checkbox after 
$checkmark-after-left: 0.7em;
$checkmark-after-top: 0.1em;
$checkmark-after-width: .5em;
$checkmark-after-height: 1.5em;
$checkmark-after-border: solid $blk;
$checkmark-after-border-width: 0 0.15em 0.15em 0;
$checkmark-after-transform-rotate: rotate(43deg);
$checkmarkMuted-border-color: $noble;
$checkmarkMuted-background: $noble;
$checkmarkMuted-box-shadow: inset 0 0 0 4px $wild-sands;

// Radio Button
$radio-margin: 1rem;
$radiolabel-border-before: 1px solid $psa-black;
$radiolabel-radius-before: 100%;
$radiolabel-background-before: $white;
$radiolabel-width-before: 1.8em;
$radiolabel-height-before: 1.8em;
$radiolabel-top-before: -0.1em;
$radiolabel-margin-right-before: 1em;
$radiolabel-checked-background-before: $blk;
$radiolabel-checked-boxshadow-before: inset 0 0 0 0.2631em $white;
$radiolabel-checked-border-before: 5px solid $psa-charcoal70;
$radiolabel-disabled-boxshadow-before: inset 0 0 0 3px $porcelain;
$radiolabel-disabled-bordercolor-before: $noble;
$radiolabel-disabled-background-before: $noble;
$radiolabel-empty-margin-right-before: 0;

// Radio Button - Unchecked Disabled
$radiolabel-uncheckdisabled-boxshadow-before: inset 0 0 0 10px $gallery;
$radiolabel-uncheckdisabled-bordercolor-before: 4px solid $noble;
$radiolabel-uncheckdisabled-background-before: transparent;

// Validation Error message 
$formgroup-error-border-left: 2px solid $psa-invalid;
$formgroup-error-padding: 0 0 0.1rem 0.7894rem;
$formgroup-error-margin: 0;
$formcontraol-error-border: 1px solid;
$formcontrol-error-border-color: $psa-invalid;
$errormessage-font-color: $psa-invalid;
$errormessage-font-size: 0.9em;
$errormessage-font-weight: 700;

.jconfirm-content-pane{
    min-height: 425px;
}


.jconfirm.jconfirm-bootstrap .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
    margin-right: 8px;
    margin-left: 0;
    position: relative;
    vertical-align: top;
    
    .psa-warning{
        margin-left: 8px;
        margin-top: 8px;
    }
}

.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title {
    padding-bottom: 15px;
    margin-left: 41px;
}

// form labels & input fields 
.form-control,
.sq-form-field {
    border: $inputfield-border;
    padding: $inputfield-padding;
    height: 45px;
    background: $white;
    &:focus {
        border-color: $psa-black25;
        @include useColourBorder($inputfield-box-shadow);
    }
}

.form-control[type="date"]{
    padding: 0.3em;
    height: 46px;
}


#address-lookup{
    min-height: 45px;
    padding: 0.3em 1em;
}


#ih-address{
    button[title="Clear Search"]{
        height: 60px !important;
        width: 50px !important;
        color: $psa-black;

        &:hover, &:focus{
            color: $psa-black;
        }
    }
}


label,
.sq-form-question-title {
    font-weight: 600 !important;
    margin-bottom: $formlabel-margin-bottom;
}

.small-text-top,
.small-text-bottom {
    line-height: $smalltext-line-height;
}

.small-text-top {
    margin: $smalltexttop-margin;
}

.small-text-bottom {
    margin: $smalltexttop-margin;
}

.calendar-icon:after {
    @include useFontAwesome;
    content: $calendar-icon;
}

.calendar {
    padding: 0.1em 0.3em;
    position: absolute;
    right: 0;
    background: transparent;
    font-size: 1.4em;
}

// checkbox container
.check-container {
    display: block;
    position: relative;
    padding-left: $checkcontainer-padding-left;
    margin-bottom: $checkcontainer-margin-bottom;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Hide the browser's default checkbox */
    & input {
        position: absolute;
        opacity: 0;
        /* When the checkbox is checked, add a blue background */
        &:checked~.checkmark {
            background-color: $inputfield-background-color;
            border: $checkmark-border;
            /* Show the checkmark when checked */
            &:after {
                display: block;
            }
        }
    }
    /* On mouse-over, add a light blue background color */
    &:hover input~.checkmark {
        // box-shadow: $inputfield-box-shadow;
        @include useColourBorder($inputfield-box-shadow);
    }
    &:focus input~.checkmark {
        // box-shadow: $inputfield-box-shadow;
        @include useColourBorder($inputfield-box-shadow);
    }
    // Create a custom checkbox 
    .checkmark {
        position: absolute;
        top: $checkmark-top;
        left: $checkmark-left;
        height: $checkmark-height;
        width: $checkmark-width;
        background-color: $inputfield-background-color;
        border: $checkmark-border;
        /* Create the checkmark/indicator (hidden when not checked) */
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: $checkmark-after-left;
            top: $checkmark-after-top;
            width: $checkmark-after-width;
            height: $checkmark-after-height;
            border: $checkmark-after-border;
            border-width: $checkmark-after-border-width;
            -webkit-transform: $checkmark-after-transform-rotate;
            -ms-transform: $checkmark-after-transform-rotate;
            -moz-transform: $checkmark-after-transform-rotate;
            transform: $checkmark-after-transform-rotate;
        }
        &.text-muted,
        &.text-muted:hover {
            // box-shadow: $checkmarkMuted-box-shadow;
            @include useColourBorder($checkmarkMuted-box-shadow);
            border-color: $checkmarkMuted-border-color;
            background: $checkmarkMuted-background;
            cursor: not-allowed;
        }
    }
}

// Radio Button
div[class*="col-"].radio label {
    margin-right: 1rem;
}

.radio,
.sq-form-question-option-list,
.radio-wrapper {
    margin-top: $radio-margin;
    margin-bottom: $radio-margin;
    & .sq-form-question-answer li {
        position: relative;
        padding-left: 0;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    & small {
        padding-left: 3rem;
        padding-top: 0.25rem;
    }
    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: auto;
        &+.radio-label,
        &+label {
            padding-left: 3rem;
        }
        /* radio border */
        &+.radio-label:before,
        &+label:before {
            content: '';
            background: $radiolabel-background-before;
            border-radius: $radiolabel-radius-before;
            border: $radiolabel-border-before;
            display: inline-block;
            width: $radiolabel-width-before;
            height: $radiolabel-height-before;
            // 			position: relative;
            // 			top: $radiolabel-top-before;
            position: absolute;
            left: 0;
            // 			margin-right: $radiolabel-margin-right-before;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
        }
        &:checked+.radio-label:before,
        &:checked+label:before {
            background-color: $radiolabel-checked-background-before;
            box-shadow: $radiolabel-checked-boxshadow-before;
        }
        &:focus+.radio-label:before,
        &:focus+label:before {
            outline: none;
            border: $radiolabel-checked-border-before;
        }
        &:disabled+.radio-label:before,
        &:disabled+label:before {
            box-shadow: inset 0 0 0 10px $gallery;
            border: 4px solid $noble;
            background: transparent;
        }
        &:disabled:checked+.radio-label:before,
        &:disabled:checked+label:before {
            box-shadow: $radiolabel-disabled-boxshadow-before;
            border-color: $radiolabel-disabled-bordercolor-before;
            background: $radiolabel-disabled-background-before;
        }
    }
}

.radio-inline {
    margin: 0.5rem;
    & input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: auto;
        &+.radio-inline-label:before {
            content: '';
            background: $wild-sands;
            border-radius: 100%;
            border: 2px solid $blk;
            display: inline-block;
            width: 1.8em;
            height: 1.8em;
            position: relative;
            top: -0.2em;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
        }
        &:checked+.radio-inline-label:before {
            background-color: $radiolabel-checked-background-before;
            box-shadow: $radiolabel-checked-boxshadow-before;
        }
        &:focus+.radio-inline-label:before {
            outline: none;
            border: $radiolabel-checked-border-before;
        }
        &:disabled+.radio-inline-label:before {
            box-shadow: $radiolabel-disabled-boxshadow-before;
            border-color: $radiolabel-disabled-bordercolor-before;
            background: $radiolabel-disabled-background-before;
        }
        &:disabled+.radio-inline-label.unchecked-disabled:before {
            box-shadow: $radiolabel-uncheckdisabled-boxshadow-before;
            border: $radiolabel-uncheckdisabled-bordercolor-before;
            background: $radiolabel-uncheckdisabled-background-before;
        }
    }
}

// Radio End 
// Validation Error Messages 
.form-group-error {
    border-left: $formgroup-error-border-left;
    padding: $formgroup-error-padding;
    & .radio label:before {
        margin-left: 1rem;
    }
    & div[class*="col-"].radio label:before {
        margin-left: 0rem;
    }
}

.form-control-error {
    border: $formcontraol-error-border $formcontrol-error-border-color !important;
}

// .sq-form-required-field {
//     display: none;
// }
.sq-form-required-field {
    color: $psa-dpti-red;
}
.error-message,
.sq-form-errors-message {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    font-size: $errormessage-font-size;
    color: $errormessage-font-color;
    font-weight: $errormessage-font-weight;
}

.input-group,
.form-group,
.sq-form-question {
    margin-bottom: 2rem;
    
    >.form-control-error {
        width: 100%;
    }
    // Select Dropdown
    & .select, // 	& svg.svg-inline--fa,
    &.sq-form-question-select .sq-form-question-answer {
        width: 100%;
        
        &>svg.svg-inline--fa {
            position: absolute;
            color: $psa-charcoal100;
            right: 0;
            top: 0;
            cursor: pointer;
            height: 45px;
            width: 1.5em;
            font-size: 1em;
            padding: .2em;
            background: $transparent;
            border: 1px solid $transparent;
            pointer-events: none;
            margin-right: 6px;
        }

        &:after {
            @include useFontAwesome;
            content: $selectdropdown-arrow-down-icon;
        }

        & select {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            border: 1px solid $inputfield-border-color;
            color: $blk;
            cursor: pointer;
            width: 100%;
            height: 45px;
            padding-left: $inputfield-padding;
            // background-color: $white;
            background: $white;
        
            &:focus,
            &:focus-within {
                @include useColourBorder($inputfield-box-shadow);
            }
        }
    }
}


// .pr-nav-tabs{
//     >li.nav-item {
//         a.nav-link.active{
//         }
//     }
// }

// #A_652975 ul.pr-nav-tabs>li.nav-item a.nav-link.active