header{

    height: auto;
    padding: 2.5em 2.5em 0 2.5em;
    
    &.bg-dark{
        background-color: $white !important;
    }
    
    &.text-light {
        color: $psa-black !important;
    }

    // .fancy-top-colours{
    //     height: 16px;
    //     width: calc(100% + 16px);
    //     display: flex;
    //     position: absolute;
    //     top: 0;
    //     left: -15px;

    //     .halfnhalf{
    //         height: 100%;
    //         width: 50%;
    //     }

    //     .pink{
    //         background-color: $psa-dpti-red;
    //     }

    //     .teal{
    //         background-color: $psa-dpti-teal;
    //     }
    // }

}
section.top-bar {
    
    display: block !important; // remove imporatant once in UAT (and d-none class from section in design file)
    .fancy-top-colours{
        height: 16px;
        width: 100%;
        display: flex;
        position: absolute;

        .halfnhalf{
            height: 100%;
            width: 50%;
        }

        .pink{
            background-color: $psa-dpti-red;
        }

        .teal{
            background-color: $psa-dpti-teal;
        }
    }
}

.navbar-nav {
    
    li{
        position: relative;
    }
}

// Hover based dropdown menu
.dropdown-menu-hover{
    margin-top: -1px;
}
@media (min-width: 768px){
    li:hover > .dropdown-menu.dropdown-menu-hover {
        display: block;
    }
}
