header {
    // NAV
    nav.navbar {
        height: auto;
		transition: height 1s;
		margin-bottom: -1px;
		
		.nav {
			
			& > li {
				& > a {
					height: 50px;
					width: 100%;
					padding:10px 0 10px 0;
					background-color: #495b69;   
					
					&:active{
						background-color: #526675;   
					}
				}
			}
		}
		
		.ul-menu {
			width: 100%;
			height: 75px;
			font-size: 0.8947em;
			
			.sub-menu-level3 {
				display: none;
			}

			> li.list-group-item {
				background: transparent;
				color: $psa-black;
				position: static;
				top: 0px;
				line-height: 2.2;
				
			}
			
            .list-group-item {
                
                > a {
					text-decoration: none;
					color: inherit;
					white-space: nowrap;
                }
                
                &.dropdown {
					background-color: transparent;
					transition: background-color .1s;
					border: 0;
					border-top: 1px solid $psa-black;
					padding: 0.5rem 1.5rem 0rem 1px;

					&#menu622664, &#menu639059{
						padding: 0.5rem 0rem 0rem 0px;
					}
					
					@media (max-width: 1199px){
						padding: 0.75rem 0 !important;
                    }
					
					&.selected {
						background: $white;
						color: $psa-dpti-red;
						border-top: 1px solid $psa-dpti-red;
					}
					
					.dropdown-menu {
						background-color: transparent;
						border: none;
						z-index: 1040;
					}
					
                    .dropdown-menu-wide {
						background-color: white;
						top: 72px;
						transition: height 3s;
						box-shadow: 0px 10px 12px 0 rgba(0, 0, 0, 0.19);
						padding: 0 15px;
						
						.level1-tools  {
							font-size: 0.8em;
							font-weight: normal;
							line-height: 1.4em;
							
							h2 {
								margin: 5px 0px 10px 0px;
								font-size: 1.2em;
                            }
                        }
						
						button.mbtn-close {
							border: none;
							background: $transparent;
							font-size: 2em;
							padding: 8px;
							margin: 0;
							position: absolute;
							right: 0px;
							top: 0px;
							line-height: 0.8em;
							color: $psa-black;
							z-index: 10;
							display: none;
						}
						
                        .sub-menu-level2 {

                            > li.dropdown-item {
								background: $white;
								margin: 0;
								cursor: pointer;
								padding: 0 1.5rem;
								position: relative;
								display: flex;
								flex-direction: column;
								justify-content: center;
								
								&:after{
									content: "";
									display: block;
									margin: 0px 0 0 ;
									width: 90%;
									border-bottom: 1px solid $psa-dpti-tealnav;
									top: 1px;
									position: relative;
									z-index: 1;
								}
                                
								a {
									text-decoration: none;
									white-space: normal;
									color: $psa-black;
									font-weight: normal;
									font-size: 0.9em;
									// top: 6px;
									position: relative;
									height: 6rem;
									display: inline-flex;
									flex-direction: row;
									justify-content: space-between;
									align-items: center;

									
									span.icon-arrow {
                                        top: 0px;
										position: relative;
										background-image: get-icon-arrow($transparent, $transparent);
										height: 12px;
										width: 22px;
										background-repeat: no-repeat;
									}
								}
								
                                &.selected {
									background: $psa-dpti-tealnav;
									position: relative;
									
									> a {
										color: $psa-black;;
										
										> .mobile-arrow-right-icon{
											position: absolute;
											left: 94%;
											float: none !important;
											width: 10px;
											display: block;
											font-size: 4.3em;
											color: $psa-dpti-tealnav;
											top: -2px;
											line-height: 10px;
										}
									}

									span.icon-arrow {
                                        top: 0px;
										position: relative;
										background-image: get-icon-arrow($psa-charcoal100, $transparent);
										height: 12px;
										width: 22px;
										background-repeat: no-repeat;
                                    }

									.mobile-arrow-right-icon {
										display: none;
									}

									&:after{
										content: "";
										display: block;
										margin: 0px 0 0 ;
										width: 90%;
										border-bottom: 1px solid $transparent;
										top: 1px;
										position: relative;
										z-index: 1;
									}
								}
								
								&:hover span.icon-arrow{
									animation: headShake 2000ms;
								}
                            }
                        }
                        
						.sub-menu-level3-container {
							position: relative;
							z-index: 0;
							padding-left: 0 !important;
							padding-right: 0 !important;
							background-color: $psa-dpti-tealnav;

							.sub-menu-level3 {
								list-style-type: none;
								margin: 0!important;
								padding: 0 !important;
								display: flex;
								height: auto;
								flex-direction: column;
								background-color: $psa-dpti-tealnav;
								
								li {
									margin: 0;
									padding: 14px 0px 3px 0px;
									@include transition(background-color .1s cubic-bezier(0.4, 0, 1, 1));
								    height: calc(6rem + 1px);

									&:hover{
										background-color: $psa-dpti-teal;
									}

									a {
										text-decoration: none;
										color: $psa-black;
										display: block;
										top: -5px;
										position: relative;
										border-bottom: 1px solid $transparent;
										margin-left: 12px;
										padding: 20px 12px 12px 12px;

										&:hover{
											text-decoration: underline;
											border-bottom: 1px solid $transparent;
										}
										
										.menu-label {
											font-size: 0.8em;
											line-height: 1.4;
											position: relative;
											display: block;
											margin-bottom: 10px;
										}
										
										.menu-label-desc {
											font-size: 0.71em;
											font-weight: normal;
											position: relative;
											top: -5px;
											line-height: 1.4;
										}
									}

									&:last-child{
										padding-bottom: 5px;
										border: solid 1px $psa-charcoal100;
										width: fit-content;
										padding: 0px 12px;
										line-height: 45px;
										height: 45px;
										margin: 20px 24px;
										display: inline;

										a{
											margin-left: 0;
											text-align: center;
											padding-top: 17px;
											border-bottom: none;
											padding-left: 0px;
											display: inline-block;

										}

										span.icon{
											content: '';
											background-image: get-icon-arrow($psa-charcoal100, $transparent);
											height: 12px;
											width: 22px;
										}
										
										&::after{
											content: '';
											border-bottom: none;
										}

										svg {
											position: relative;
											top: -6px;
											display: inline-block;

											path{
												stroke: $psa-black;
											}
										}
									}
								}
								
							}
						}
					}

					.psa-chevron:after{
						content: "";
						height: 13px;
						width: 16px;
						position: absolute;
						background-repeat: no-repeat;
					    transition: all .2s;
                        transform-origin: top center;
                        top: 38px;
                        margin-left: 8px;
						background-image: get-icon-chevron($psa-charcoal100);

						@media (max-width: 992px){
							top: 31px;
						}
						
						@media (max-width: 768px){
							top: 26px;
						}
					}
				}

				&.selected .psa-chevron:after{
					content: "";
					height: 13px;
					width: 16px;
					position: absolute;
					background-repeat: no-repeat;
					transition: all .2s;
					transform-origin: top center;
					top: 38px;
					margin-left: 8px;
					background-image: get-icon-chevron-up($psa-dpti-red);

					@media (max-width: 992px){
						top: 31px;
					}

					@media (max-width: 768px){
						top: 26px;
					}
				}
			}
		}
		
		// Mobile menu items
		&.menu-mobile-on {
            position: absolute;
			z-index: 1000;
			min-width: 100%;
			left: 0;
			transition: all .2s;
			
			.ul-menu {
				background: white;
				height: auto!important;
				font-size: 1.1em;
			
				> li.list-group-item {
					background: $white;
					margin: 5px 5px 5px 5px;
					position: relative;
					padding: .75rem;
					
					&.selected {
						background: $psa-dpti-tealnav;
						color: $psa-black;
					}
					
					> a > .psa-chevron {
						position: absolute;
						right: 10px;
						top: 29px;
					}

				.dropdown-menu-wide .sub-menu-level2{
					margin-left: 0;

					>li.dropdown-item a{
						flex-direction: column;
						align-items: flex-start;
						margin-bottom: 15px;
						margin-top: 15px;
						height: auto;
						justify-content: flex-start;

						.menu-label{
							font-weight: 800;
						}
						.icon-arrow{
							display: none;
						}
					}
				}
			}

				.dropdown-menu.show {
					position: relative;
					float: none;
					left: -3px;
					margin: 0px;
					width: 100%;
					min-width: 100%;
					padding: 0;
					background: transparent;
					top: 12px;
				}
				
				.sub-menu-level3-container,
				.level1-tools,
				.mbtn-close,
				.mobile-arrow-right-icon {
					display: none!important;
				}
				
				.sub-menu-level2 {
					max-width: 100%;
					width: 100%;
					flex: auto;
					background: white;
					margin-left: -8px;
					padding-right: 0;
					.dropdown-item.selected {
						background: #f0f0f2!important;
						
						> a {
							color: $psa-charcoal100!important;
						}
					}
					
					.menu-label-desc-mobile {
						font-weight: normal;
						white-space: normal;
						line-height: 1.3em;
						font-size: 0.89em;
						margin-bottom: 5px;
					}
				}
			}
		}
		.mobile-arrow-right-icon {
			position: relative;
			left: .5em;
			&:after {
				@include useFontAwesome;
				position: relative;
				color:$white;
				content: "\f105";
			}
		} 
	}

	/* Header Basic structure */
	.header-content {
		height: 100%;
		width: 100%;
		
		.saportal-logo {
			height: auto;
			width: auto;
			float: left;
			
			@media (max-width: 576px){
			    width: 75%;
			}
		}

		.btn-mainmenu {
			height: 45px;
		}
		
		.btn-login:after, .btn-register:after {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			right: 10px;
		}
		
		.btn-login:after{
			background-image: get-icon-login($transparent, $psa-black25);
			height: 22px;
			width: 22px;
		}
		
		.btn-register:after {
			background-image: get-icon-user($transparent, $psa-black25);
			height: 18px;
			width: 18px;
		}
		
		.btn-group {
			
			> svg.svg-inline--fa {
				position: relative;
				float: right;
				right: 1.6em;
				font-size: 0.8947em;
			}

			.btn {
				font-size: 0.8947em;
			}
			
			.btn-login, .btn-register {
				width: 125px;
				background-color: $white;
				border-color: $psa-black25;
				text-align: left;
				padding: 8px;
				max-height: 37px;
				min-width: 125px;
			}

			.btn-login:hover{
				@include useColourBorder($inputfield-box-shadow);
			}

			.btn-register:hover{
				@include useColourBorder($inputfield-box-shadow);
			}

			@media (max-width: 992px) {

				display: none;

				.btn-login, .btn-register {
					width: 94px;
				}
			}
		}
		
		button>svg.svg-inline--fa {
			position: relative;
			font-size: 0.8947em;
			color: $white;
			margin-left: .5em;
		}

        #header-search {
            input[type="text"] {
				width: 19.26315em;
				padding: 0.6em;
				font-size: 0.8947em;
				border: 1px solid $psa-black25;
				height: calc(1.25em + 1.1em + 2px);
			}
			
            #site_search_submit {
                background: none;
                border: none;
                position: absolute;
                top: 0.25em;
                right: 0.1em;
                font-size: 1.3rem;
			   
				@media (min-width: 769px) {
                    top: 0.1em;
                }
				
				.icon-search{
					position: absolute;
                    top: 6px;
					left: -14px;
					z-index: 10;
				}
            }
        }
        .mobile-searchicon {
			height: 45px;
			width: 45px;
			border: 1px solid $psa-black25;
			background-color: $white;
			padding: 21px;
			
			&:after {
				background-image: get-icon-search($white, $psa-charcoal100);
				position: absolute;
				content: "";
				height: 24px;
				width: 24px;
				background-repeat: no-repeat;
				margin: -12px;
            }
            
            >svg.svg-inline--fa {
				top: 27%;
				position: relative;
				font-size: 1.5em;
				color: $white;
				right: 22%;
				float: right;

				@media only screen and (max-width: 767px) {
					right: 27%;
                }
            }
        }
    }
}


.header-content_rhs{
	.searchicon-close{
		height: 45px;
		width: 45px;
		padding: 21px;  

		&:after{
			content: '';
			background-image: get-icon-close($psa-charcoal100);
			width: 20px;
			height: 15px;
			background-repeat: no-repeat;
			position: absolute;
            top: 34px;
            right: 9px;
		}
	}
}


#mobileSearch{
	margin: 15px;

	.search-form{
		.icon-search{
			background-image: get-icon-search($white, $psa-charcoal100);
			position: absolute;
			border: none;
			background-repeat: no-repeat;
			right: 72px;
			margin: -32px;
		}
	}
}




/* Search Input */

// .modal {
//     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
// }

// .overlay {
//   position: fixed; /* Sit on top of the page content */
//   display: none; /* Hidden by default */
//   width: 100%; /* Full width (cover the whole page) */
//   height: 100%; /* Full height (cover the whole page) */
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0,0,0,0.5); /* Black background with opacity */
//   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
// }

/* Search Input End */
