#template603882 {
    .lp-template {
        .card {
            margin-bottom: 1.5em;
            margin-top: 1.5em;
            box-sizing: border-box;
            @include useColourBorder(inset 0px -5px 0px -1px $border-color);
            
            &:hover{
                @include useColourBorder(inset 0px 0px 0px 4px $psa-charcoal100);
            }
            &:hover, 
            &:focus {
                outline: none;
                -webkit-appearance: none;
            }
            
            .card-title {
                margin-bottom: 1rem;
                
                a {
                    text-decoration: none;
                    
                    &:hover, 
                    &:active, 
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .lead {
        border-bottom: 0px solid transparent;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


