// Global layout styles 
.page-wrapper{
    overflow: inherit;
}
#skip a{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    
    &:focus{
        position:static;
        width:auto;
        height:auto;
    }
}
 
// Overrides
body.home .hide-on-home{
    display: none !important;
}
.lp-banner-img {
    height: 180px;
    // max-width: 1920px;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    @media (max-width: 991px){
        height: 175px;
    }
}
@media (max-width: 768px){
    body {
        font-size: 14px;
    }
}

// Body Content

textarea#feedbackComment {
    height: 10em;
}

hr.theme-hr{
    border-top: 2px solid $psa-charcoal70;
}


#breadcrumbs.bg-white{
    background-color: $psa-charcoal40 !important;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item > svg.svg-inline--fa {
    font-size: 1.1em;
    margin: 0 10px 0px 5px;
}

.card{
    background-color: $white;

    &:hover, 
    &:focus {
        outline: none;
        -webkit-appearance: none;
        box-shadow:  0 0 3px 2px rgba(215, 49, 49, 0.5);
    }
    


    .card-title{
        margin-top: 0;
        color: $blk;
        
        a{
            color: $blk;
        }
    }
}

.accordion .card{
    background-color: $white;
}

#id-zone{
    width: 100%;
}