.spinme {
    width: 100%;
    text-align: center;
    .loader {
        border: 16px solid $light;
        border-top: 16px solid $psa-dpti-teal;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1.5s linear infinite; 
        margin: 0 auto;
    }
}
@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg); 
    }
}