form[id^="search_page_"] {

    // display: flex;
    // flex-direction: row;
    
    input[type="text"]{
        // padding: 1.25em; 
        // flex-shrink: 1;
        
    }
    
    button[type="submit"]{
        border: none !important;
        background: none !important;
        height: 0px;
        width: 0px;
        padding: 0;
        
        &:after {
            background-image: get-icon-search($white, $psa-charcoal100);
            position: absolute;
            content: "";
            height: 24px;
            width: 24px;
            background-repeat: no-repeat;
            right: 12px;
            z-index: 1000;
            top: 10px;
        }
    }
}
