// List group for navigation
.list-group-item-nav {
    padding: 0;
}

.list-group-item-nav>a {
    display: block;
    padding: 0.7rem 1rem;
}

.list-group-item-nav.active>a,
.list-group-item-nav.active:focus>a,
.list-group-item-nav.active:hover>a {
    color: $white;
}

.list-group-item-nav.hierarchy>a,
.list-group-item-nav.hierarchy:focus>a,
.list-group-item-nav.hierarchy:hover>a {
    color: $colour-primary;
}

.list-group-item-nav.hierarchy,
.list-group-item-nav.hierarchy:focus,
.list-group-item-nav.hierarchy:hover {
    background-color: $white;
}

.list-group-sub {
    margin: 0;
}

.list-group-sub>.list-group-item-nav {
    border: none;
    border-radius: 0;
    border-top: 1px dotted $alto;
}

.list-group-sub>.list-group-item-nav>a {
    padding-left: 2rem;
    font-size: 80%;
}