// Layout utilities
.full-width-section{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.full-width-container {
    width: 100vw;
    position: relative;
}
.jconfirm.jconfirm-supervan a {
    color: $white;
}
// highlight broken links <a href="#nolink"></a>
// a[href="#nolink"],
// a[href="#"]:not([data-hover="hovertext"]):not(.page-link):not([data-modal="true"]),
// a[href=""]:not([data-hover="hovertext"]) {
//     padding: 0.2em;
//     color: $red !important;
//     background-color: #fcf8e3;
    
//     &> svg.svg-inline--fa {
//         font-size: 1em;
//         margin-right: 0.5em;
//     }
//     &::before {
//         @include useFontAwesome;
//         content: "\f188";
//     }
//     &:hover::after{
//         content: "link does not exist";
//         padding: 2px;
//         position: absolute;
//         width: 175px;
//         text-align: center;
//         background-color: #fef4c5;
//         border: 1px solid #d4b943;
//         z-index: 9999;
//     }
// }
.grow
{
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    font-size: 125%;
    transition: all 1s ease-in-out;
}


