.home h1 {
    font-size: 1.75rem;
}
#banner{
    
    &.jumbotron {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
        > .img-wrapper {
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
        }
    }
    
    .btn-outline-secondary {
        color: $white;
        border-color: $white;
        background-color: $transparent;
        padding: 0.6rem 1rem;
        font-weight: 600;
        border: 2px solid $white;
        font-size: 1em;
        
        &:hover {
            background-color: rgba(0, 0, 0, .1);
        }
    }
}

@media (min-width: 992px) { /* 576px */
    .home h1 {
        font-size: 2.1rem;
    }
    #banner.jumbotron {
        height: 600px;
    }

    .tab_icon{
        display: block;
        height: 40px;
        width: 40px;
        overflow: hidden;
        background-size: 100% !important;
    }
}


#home_dev_search{
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 32px 0;
    
    label{
        padding-left: 0;
    } 
    
    input{
        padding-left: 2rem;
    }
    
    input {
        height: 64px;
    }
    
    button[type="submit"]{
        background: none;
        border: none;
        position: absolute;
        top: 0.1em;
        right: 0.1em;
        font-size: 1.3rem;
        z-index: 9;
        
        .psa-icon{
            position: absolute;
            left: -32px;
            top: 10px;;
        }
        @media (min-width: 769px) {
            top: 0.3em;
        }
    }
 
}

#cta, #placeholder2{
    background-color: $psa-charcoal2;
}