<section id="cta" class="cta">
    <div class="container px-0">
        <div class="row no-gutters">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="pl-2 pl-sm-5 pr-2 pr-lg-9 text-break nav-item nav-link active" id="%asset_metadata_id-1%" data-toggle="tab" href="#%asset_metadata_content-id-1%" role="tab" aria-controls="%asset_metadata_content-id-1%" aria-selected="true">%asset_metadata_title-1%</a>
                        %begin_asset_metadata_number-tabs^eq:2%
                        <a class="pl-2 pl-sm-5 pr-2 pr-lg-9 text-break nav-item nav-link" id="%asset_metadata_id-2%" data-toggle="tab" href="#%asset_metadata_content-id-2%" role="tab" aria-controls="%asset_metadata_content-id-2%" aria-selected="false">%asset_metadata_title-2%</a>
                        %end_asset%
                    </div>
                </nav>
                <div class="tab-content" id="nav-hometabs">
                    <div class="tab-pane fade show active" id="%asset_metadata_content-id-1%" role="tabpanel" aria-labelledby="%asset_metadata_id-1%">
                        %begin_asset_metadata_content-heading-1a^neq:%
                        <ul>
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-1a^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-1a%
                                </a>
                            </li>
                            %end_asset%
                            %begin_asset_metadata_content-heading-1b^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-1b^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-1b%
                                </a>
                            </li>
                            %end_asset%
                            %begin_asset_metadata_content-heading-1c^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-1c^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-1c%
                                </a>
                            </li>
                            %end_asset%
                            %begin_asset_metadata_content-heading-1d^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-1d^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-1d%
                                </a>
                            </li>
                            %end_asset%
                            %begin_asset_metadata_content-heading-1e^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-1e^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-1e%
                                </a>
                            </li>
                            %end_asset%
                        </ul>
                    </div>
                    <!--tab 2 here-->
                    %begin_asset_metadata_number-tabs^eq:2%
                    <div class=" tab-pane fade" id="%asset_metadata_content-id-2%" role="tabpanel" aria-labelledby="%asset_metadata_id-2%">
                        %begin_asset_metadata_content-heading-2a^neq:%
                        <ul>
                            %begin_asset_metadata_content-heading-2a^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-2a^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-2a%
                                </a>
                            </li>    
                            %end_asset%
                            %begin_asset_metadata_content-heading-2b^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-2b^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-2b%
                                </a>
                            </li>    
                            %end_asset%
                            %begin_asset_metadata_content-heading-2c^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-2c^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-2c%
                                </a>
                            </li>
                            %end_asset%
                            %begin_asset_metadata_content-heading-2d^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-2d^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-2d%
                                </a>
                            </li>    
                            %end_asset%
                            %begin_asset_metadata_content-heading-2e^neq:%
                            <li class="link-wrapper">
                                <a tabindex="0" href="%asset_metadata_content-url-2e^as_asset:asset_url%" class="psa-arrow cta-icon">
                                    %asset_metadata_content-heading-2e%
                                </a>
                            </li>    
                            %end_asset%
                            </ul>
                        </div>
                        %end_asset%
                    </div>
                    %end_asset%
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Template - %asset_paint_layout_id^as_asset:asset_name% End -->  
