#breadcrumbs {
    display: none;
}

.jconfirm {
    
    &.jconfirm-supervan .jconfirm-box div.jconfirm-content {
        text-align: left; 
        color: white;
    }
    .jconfirm-box div.jconfirm-content-pane {
        overflow-y: hidden;
        overflow-y: auto;
    }
    
    .jconfirm-title-c{
        padding: 30px !important;

        .jconfirm-title{
            position: relative;
            top: 13px;
        }
    }

    .alert-body{

        padding: 0 30px 30px 30px;

        .alert-row{
            .alert-infoBlock{
                margin-left: 40px;
                position: relative;
                top: 4px;
            }
        }
    }

    .jconfirm-box div.jconfirm-content{
        padding: 0 !important;
    }

    .jconfirm-box .jconfirm-buttons {
        border-top: none;
    }
}

#dawizard {
    .easy-autocomplete-container {
		z-index: 9999;
		top: 65px;
	}
    .easy-autocomplete #address-lookup {
		height: 60px;
        padding: 0.3em 4em 0.3em 1em;
	}
	fieldset {
	    
	    > legend {
	       // display: none;
	    }
	}
	.fetching {
	    
	    .loader-xs {
	        font-size:24px;
	        position: absolute;
	        right: 55px;
	        z-index: 9;
	        top: 18px;
	    }
	    .btn.btn-primary {
    	    right:0; 
    	    position:absolute;
    	    line-height:1; 
    	    height: 60px;
            width: 50px;
	    }
	    &> svg.svg-inline--fa {
            margin-left: 0em;
	    }
    }
    #ih-zone {
        display: none;
        .alert-message-title {
            
            padding: .5rem .75rem;
            font-weight: bold;
            display: inline-block;
            color: $white;
            width: 100%;
            font-size: 1.5rem;
            text-align: center;
            position: relative;
            padding: 3rem;
            
            &.excempt {
                // border: 2px solid rgba(51, 101, 143, .5);
                -webkit-background-clip: padding-box; /* for Safari */
                background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
                background-color: $success;
                
            }
            &.not-excempt {
                // border: 2px solid rgb(220, 39, 56);
                // border: 2px solid rgba(220, 39, 56, .5);
                -webkit-background-clip: padding-box; /* for Safari */
                background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
                background-color: $warning;
            }
        }
        
        #policy {
            
            ul {
                margin: 2em 0;

                > li {
                    margin: 1em 0;
                    
                    &.alert {
                        margin-left: -1.25rem;
                        list-style-position: inside;
                        margin-top: 1rem;
                    }

                    img.img-fluid{
                        margin: 1em 0;
                    }
                }
            }
            
        }
    }
    .page-heading {
        
        > span.h2 {
            padding: 0;
            margin: 0;
            display: block;
            font-weight: 400;
            font-size: 1.6rem;
        }
        > span.h1 {
            font-size: 2.5rem;
            line-height: 1;
        }
    }
    
    .da-step, 
    .da-answer {
        display: none;
    }
    .loader-xs {
        border: 5px solid #f2f2f2;
        border-top: 5px solid #B9E1DC;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        animation: spin 1.4s linear infinite;
        margin: 0 auto;
    }
}