.alert.alert-infoBlock > svg.svg-inline--fa {
    font-size: 2em;
    margin-right: 0.5em;
}
.alert.alert-infoBlock::before {
    @include useFontAwesome;
    content: "\f06a";
}
.alert.alert-infoBlock {
    font-weight: 700;
}
