    #alert-panel {
        background-color: #E8F5FF;

    .alert-dismissible {
         padding-right: inherit; 
    }
    .alert-panel {
            color: #000;
            background-color: #E8F5FF;
            border: 0px solid transparent;
            border-left: 5px solid #3AC4E4;
            width: 100%;
        }
    .alert-panel .close {
        opacity: 1;
        text-align: right;
        font-size: inherit;
        position: relative;
    }
}
  