header {
    // NAV
    nav.navbar {
        height: auto;
        transition: height 1s;
        
        .nav {
            &>li {
                &>a {
                    height: 50px;
                    width: 100%;
                    padding: 10px 0 10px 0;
                    background-color: $fiord;
                    &:active {
                        background-color: $blue-bayoux;
                    }
                }
            }
        }
        .ul-menu {
            width: 100%;
            height: 60px;
            font-size: 0.8947em;
            // overflow-x: hidden;
            .sub-menu-level3 {
                display: none;
            }
            >li.list-group-item {
                background: transparent;
                color: $white;
                position: static;
                top: 0px;
                line-height: 2.2;
                font-weight: bold;
                padding: 0.75rem 0.72rem;
                
            }
            .list-group-item {
                >a {
                    text-decoration: none;
                    color: inherit;
                    white-space: nowrap;
                    
                    @media (max-width: 1199px){
                        text-decoration: underline;
                        
                        span.arrow-down-icon, span.arrow-up-icon{
                            display: none;
                        }
                    }
                    
                    @media (max-width: 992){
                        text-decoration: none;
                    }
                    
                }
                &.dropdown {
                    background-color: transparent;
                    transition: background-color .1s;
                    border: 0;
                    // padding: 0.75rem 1.25rem;
                    // @media (max-width: 1199px) {
                        // header .list-group-item.dropdown {
                        // padding: 0.75rem .72rem;
                        // }
                    // }
                    &.selected {
                        background: $white;
                        color: $limed-spruce;
                        border: 1px solid $white;
                    }
                    .dropdown-menu {
                        background-color: transparent;
                        border: none;
                        z-index: 1040;
                    }
                    .dropdown-menu-wide {
                        background-color: white;
                        top: 3.4em;
                        transition: height 3s;
                        box-shadow: 0px 10px 12px 0 rgba(0, 0, 0, 0.19);
                        .level1-tools {
                            font-size: 0.8em;
                            font-weight: normal;
                            line-height: 1.4em;
                            h2 {
                                margin: 5px 0px 10px 0px;
                                font-size: 1.2em;
                            }
                        }
                        button.mbtn-close {
                            border: none;
                            background: white;
                            font-size: 2em;
                            padding: 8px;
                            margin: 0;
                            position: relative;
                            right: 5px;
                            top: -7px;
                            line-height: 0.8em;
                            color: $limed-spruce;
                        }
                        .sub-menu-level2 {
                            >li.dropdown-item {
                                background: $athens-gray;
                                margin: 2px 0;
                                display: inline-block;
                                cursor: pointer;
                                padding: 0.7rem 1.5rem;
                                position: relative;
                                a {
                                    text-decoration: none;
                                    white-space: normal;
                                    color: $limed-spruce;
                                    font-weight: bold;
                                    font-size: 0.9em;
                                    span.mobile-arrow-right-icon {
                                        top: -2px;
                                        color: $blue-bayoux;
                                    }
                                }
                                &.selected {
                                    background: $blue-bayoux;
                                    position: relative;
                                    >a {
                                        color: $white;
                                        >.mobile-arrow-right-icon {
                                            position: absolute;
                                            left: 94%;
                                            float: none !important;
                                            width: 10px;
                                            display: block;
                                            font-size: 4.3em;
                                            color: $blue-bayoux;
                                            top: -2px;
                                            line-height: 10px;
                                        }
                                    }
                                    .mobile-arrow-right-icon {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .sub-menu-level3-container {
                            position: relative;
                            z-index: 0;
                            padding-left: 0 !important;
                            .sub-menu-level3 {
                                list-style-type: none;
                                margin: 0 !important;
                                padding: 0 !important;
                                display: flex;
                                height: auto;
                                flex-direction: column;
                                // background-color: rgba($mamba, 0.2 );
                                li {
                                    margin: 0;
                                    // 	border-bottom: 1px solid #e6e4e9;
                                    padding: 14px 0px 3px 0px;
                                    &:hover {
                                        background-color: $river-bed;
                                        a {
                                            color: $white;
                                            border-bottom: 1px solid $river-bed;
                                        }
                                    }
                                    a {
                                        text-decoration: none;
                                        color: $outer-space;
                                        display: block;
                                        top: -5px;
                                        position: relative;
                                        border-bottom: 1px solid $blue-bayoux;
                                        margin-left: 12px;
                                        .menu-label {
                                            font-size: 0.8em;
                                            line-height: 1.4;
                                            position: relative;
                                            display: block;
                                            margin-bottom: 10px;
                                        }
                                        .menu-label-desc {
                                            font-size: 0.71em;
                                            font-weight: normal;
                                            position: relative;
                                            top: -5px;
                                            line-height: 1.4;
                                        }
                                    }
                                    &:last-child {
                                        padding-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                    .arrow-up-icon:after {
                        @include useFontAwesome;
                        position: relative;
                        content: "\f077";
                    }
                    .arrow-down-icon:after {
                        @include useFontAwesome;
                        position: relative;
                        content: "\f078";
                    }
                    .arrow-down-icon,
                    .arrow-up-icon,
                    .arrow-left-icon,
                    .arrow-right-icon {
                        padding-left: 10px;
                        pointer-events: none;
                        font-size: 1rem;
                        margin: 0;
                        padding: 8px 0 8px 5px;
                        cursor: pointer;
                        transition: color .3s, background .3s;
                        
                    }
                    
                }
            }
            
            
        }
        // Mobile menu items
        &.menu-mobile-on {
            position: absolute;
            z-index: 1030;
            min-width: -moz-calc(100% - 0px);
            min-width: -webkit-calc(100% - 0px);
            min-width: -o-calc(100% - 0px);
            min-width: calc(100% - 0px);
            left: 0;
            .ul-menu {
                background: white;
                height: auto !important;
                font-size: 1.1em;
                >li.list-group-item {
                    background: $river-bed;
                    margin: 5px 5px 5px 5px;
                    position: relative;
                    &.selected {
                        background: $storm-grey;
                        color: white;
                    }
                    >a>.arrow-down-icon,
                    >a>.arrow-up-icon {
                        position: absolute;
                        right: 10px;
                        top: 8px;
                    }
                }
                .dropdown-menu.show {
                    position: relative;
                    float: none;
                    left: -3px;
                    margin: 0px;
                    width: 100%;
                    min-width: 100%;
                    padding: 0;
                    background: transparent;
                    top: 12px;
                }
                .sub-menu-level3-container,
                .level1-tools,
                .mbtn-close,
                .mobile-arrow-right-icon {
                    display: none !important;
                }
                .sub-menu-level2 {
                    max-width: 100%;
                    width: 100%;
                    flex: auto;
                    background: white;
                    margin-left: -8px;
                    padding-right: 0;
                    .dropdown-item.selected {
                        background: $athens-gray !important;
                        >a {
                            color: $limed-spruce !important;
                        }
                    }
                    .menu-label-desc-mobile {
                        font-weight: normal;
                        white-space: normal;
                        line-height: 1.3em;
                        font-size: 0.89em;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .mobile-arrow-right-icon {
            position: relative;
            left: .5em;
            &:after {
                @include useFontAwesome;
                position: relative;
                color: $white;
                content: "\f105";
            }
        }
    }
    /* Header Basic structure */
    .header-content {
        height: 5.263157em;
        width: 100%;
        margin: .5em 0;
        .saportal-logo {
            height: auto;
            width: 8.63157em;
            float: left;
        }
        .btn-mainmenu {
            border: 1px solid transparent;
        }
        .btn-login:after {
            @include useFontAwesome;
            content: "\f007";
            position: absolute;
        }
        .btn-group {
            >svg.svg-inline--fa {
                position: relative;
                float: right;
                right: 1.6em;
                font-size: 0.8947em;
            }
            .btn {
                font-size: 0.8947em;
            }
            .btn-login {
                background-color: $fiord;
                border-color: $tarawera;
            }
        }
        button>svg.svg-inline--fa {
            position: relative;
            font-size: 0.8947em;
            color: $white;
            margin-left: .5em;
        }
        #header-search {
            input[type="text"] {
                width: 19.26315em;
                padding: 0.6em;
                font-size: 0.8947em;
                border: 1px solid $limed-spruce;
            }
            #site_search_submit {
                background: none;
                border: none;
                position: absolute;
                top: 0.25em;
                right: 0.1em;
                font-size: 1.3rem;
                @media (min-width: 769px) {
                    top: 0.1em;
                }
                .fa-search {
                    color: $limed-spruce;
                    z-index: 9;
                    &:hover {
                        color: $light;
                    }
                }
            }
        }
        .mobile-searchicon {
            height: auto;
            width: 50px;
            background: $blue;
            &:after {
                @include useFontAwesome;
                position: absolute;
                content: "\f002";
                color: $white;
            }
            >svg.svg-inline--fa {
                top: 27%;
                position: relative;
                font-size: 1.5em;
                color: $white;
                right: 22%;
                float: right;
                @media only screen and (max-width: 767px) {
                    right: 27%;
                }
            }
        }
    }
}


/* Search Input */

// .modal {
//     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
// }
// .overlay {
//   position: fixed; /* Sit on top of the page content */
//   display: none; /* Hidden by default */
//   width: 100%; /* Full width (cover the whole page) */
//   height: 100%; /* Full height (cover the whole page) */
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: rgba(0,0,0,0.5); /* Black background with opacity */
//   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
// }

/* Search Input End */