// Navbar 
.navbar-nav li{
    position: relative;
}

// Hover based dropdown menu
.dropdown-menu-hover{
    margin-top: -1px;
}
@media (min-width: 768px){
    li:hover > .dropdown-menu.dropdown-menu-hover {
        display: block;
    }
}

