// Global layout styles 
.page-wrapper{
    overflow: inherit;
}
#skip a{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    
    &:focus{
        position:static;
        width:auto;
        height:auto;
    }
}
 
// Overrides
body.home .hide-on-home{
    display: none !important;
}
.lp-banner-img {
    height: 180px;
    max-width: 1920px;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    @media (max-width: 991px){
        height: 175px;
    }
}
@media (max-width: 768px){
    body {
        font-size: 14px;
    }
}

// Body Content

// who did this? try the theme.scss and set the default rather than overriding it somewhere else
body{
    background-color: $body-bg; // #FFF
}

textarea#feedbackComment {
    height: 10em;
}

hr.theme-hr{
    border-top: 3px solid $mamba;
}
