.home{
    #news_cards{
        
        background-color: rgba($mamba, 0.4);
        
        .card-wrapper:last-child{
            padding-right: 0!important;
        }
    }
}
      
      

        
.card-deck{
    
    flex-direction: row;
        
     @media (min-width: 992px){
        flex-direction: row;
    }
    @media (max-width: 576px){
        flex-direction: column;
    }
}

.card-deck, .card-sidebar {
    
    .card{
        border: none;
    	box-sizing: border-box;
    	@include useColourBorder(inset 0px -5px 0px -1px $border-color);
    	
    	&:hover{
            @include useColourBorder(inset 0px -5px 0px -1px $mamba);
        }
        &:hover, 
        &:focus {
            outline: none;
            -webkit-appearance: none;
        }
        
        .card-body{
            overflow: hidden;
            
            .card-title a{
                color: $black;
                text-decoration: none;
            }
        }
        .card-footer{
            background-color: $noColour;
            border-top: none;
            font-size: 80%;
        }
        
        margin-bottom: 3em;
        
        @media (min-width: 992px){
            margin-bottom:0;
        }
    }   
}




.news-deck{
    .card{
        min-width: 100%;
        
        margin-bottom: 3em;
            
        @media (min-width: 992px){
            margin-bottom:0;
            min-width: 33%;
        }
    }
}


a.news-tag{
    text-decoration: none;
    color: $black;
    font-size: 0.9rem;
    
    &:hover{
        color: $white;
        background: $outer-space;
        text-decoration: underline;
    }
}
