// @use "src/pagination" as *;

@mixin pagination_bg {
    background-color: $gray-600;
    border-color: $gray-600;
}
.dataTables_paginate,
.full-width {
    .pagination,
    .pagination.simple-pagination{
        
        li {
            .ellipse.clickable {
                display: block;
                padding: 0.47rem 0.5rem;
                margin-left: -1px;
                line-height: 1.25;
                border: 1px solid #000;
                
                > input {
                    padding: 0;
                    border: none;
                }
            }
            .page-link {
                position: relative;
                display: block;
                padding: 0.4rem 0.5rem;
                margin-left: -1px;
                line-height: 1.25;
                color: #000;
                background-color: $white;
                border: 1px solid #000;
            }
            
            &.active {
                cursor: no-drop;
                @include pagination_bg;
                &> a, 
                &> span,
                &> a:focus,
                &> a:hover,
                &> span:focus,
                &> span:hover {
                    color: $white;
                    position: relative;
                    display: block;
                    // padding: 0.47rem 0.6rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    border-style: solid;
                    border-width: 1px;@include pagination_bg;
                }
            }
            &.disabled {
                cursor: no-drop;
                &> a, 
                &> span,
                &> a:focus,
                &> a:hover,
                &> span:focus,
                &> span:hover {
                    background-color: $white;
                    color: #000;
                    position: relative;
                    display: block;
                    padding: 0.47rem 0.7rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    border: 1px solid $gray-600;
                }
            }
        }
    }
}
.bootstrap-table {
    .pagination {
        
        li {
            &.page-last-separator {
                display: block;
                padding: 0.47rem 0.5rem;
                margin-left: -1px;
                line-height: 1.25;
                border: 1px solid #000;
                
                > input {
                    padding: 0;
                    border: none;
                }
            }
            
            &.page-number,
            &.page-next,
            &.page-last,
            &.page-pre,
            &.page-first {
                position: relative;
                display: block;
                padding: 0.4rem 0.5rem;
                margin-left: -1px;
                line-height: 1.25;
                color: #000;
                // background-color: $white;
                background-color: transparent;
                border: 1px solid #000;
            }
            
            &.active {
                cursor: no-drop;
                @include pagination_bg;
                &> a, 
                &> span,
                &> a:focus,
                &> a:hover,
                &> span:focus,
                &> span:hover {
                    
                    color: $white;
                    position: relative;
                    display: block;
                    // padding: 0.47rem 0.6rem;
                    margin-left: -1px;
                    line-height: 1.25;
                    // border-style: solid;
                    // border-width: 1px;
                }
            }
            &.disabled,
            &.page-pre {
                cursor: no-drop;
                &> a, 
                &> span,
                &> a:focus,
                &> a:hover,
                &> span:focus,
                &> span:hover {
                    background-color: transparent;
                    // background-color: $white;
                    color: #000;
                    // position: relative;
                    // display: block;
                    // padding: 0.47rem 0.7rem;
                    // margin-left: -1px;
                    // line-height: 1.25;
                    // border: 1px solid $gray-600;
                }
            }
        }
    }
}