.numberListProcess {
    list-style: none;
    padding: 1em 0;
    position: relative;
    margin: 1.6em 0 0 1.25em;
    list-style-position: outside;
    counter-reset: lisitem;
    
    &> li > * {
        // padding: 0px 0px 0px 10px;
        margin: 5px 0 10px 10px;
    }
    
    &> li {
        border-left: 12px solid #323E48;
        padding: 0px 0px 1.2em 1.4em;
        list-style: none;
        margin: 0!important;
        line-height: 1.6;
    }
    
    &> li:last-of-type:before {
    	margin-left: -3.1em;
    }
    
    &> li:before {
        color: #fff;
        float: left;
        font-weight: 700;
        text-align: center;
        display: block;
        position: relative;
        counter-increment: lisitem;
        content: counter(lisitem);
        border: 5px solid #f0f4f5;
        background: #323E48;
        background-clip: padding-box;
        font-size: 1em;
        top: -0.55em;
        border-radius: 50%;
    	margin-left: -3.18em;
        width: 2.9em;
        height: 2.9em;
        padding-top: .35em;
    }
    
    &> li:last-child {
        border-left: 0;
        padding-left: calc(1.4em + 10px);
    }
}
