#toc_guide {
    li{
        &.disabled a {
            color: #000;
            text-decoration: none;
        }
        &:before {
            content: "\2014"; 
            padding-right:.5em;
        }
    }
}
    
#toc_guide_nav {
    .btn-outline-previous, 
    .btn-outline-next {
        border: 2px solid #dcddde;
        background-color: transparent;
        color: $link-color;
        a {
            color: $link-color;
        }
        &:hover,
        &:active,
        &:focus {
            color: $link-color;
            box-sizing: border-box;
            border: 2px solid $purple;
            @include useColourBorder(inset 0px 0px 0px 2px $purple);
        }
        &::before {
            @include useFontAwesome;
        }
        &> svg.svg-inline--fa {
            font-size: 2.5em;
            float: left;
            font-weight: 700;
        }
    }
    .btn-outline-next::before {
        content: "\f138";
    }
    .btn-outline-previous::before {
        content: "\f137";
    }
}

