// Breadcrumbs
.breadcrumb-item + .breadcrumb-item::before {
    @include useFontAwesome;
    padding-right:15px;
}
.breadcrumb-item + .breadcrumb-item > svg.svg-inline--fa {
    font-size: .75em;
    margin: 0 5px 0 0;
}

// help text
a[href*="#hovertext"], a[data-action=hovertext], *[data-hover=hovertext] {
    cursor: help;
    text-decoration: none!important;
    border-bottom: 1px dashed #2c6ca1;
}

// Intro
.lead {
    font-size: 1.3em;
    font-weight: 400;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 1.75em;
    padding-bottom: 1.5em;
}

@for $i from 25 through 100 {
    @if $i % 5 == 0 {
        .font-#{$i} {
            font-size: percentage($i / 100);
        }
    }
}

fieldset {
    min-width: max-content;
}

// Blockquote
blockquote {
    padding: 1rem;
    font-style: italic;
}

// Definition list
dt {
    font-weight: bold;
    margin: 1em 0;
}
dd {
    font-style: italic;
    margin: 0 0 .5em 1em;
}

// Code
pre{ 
    padding: 0.2rem 0.4rem;
    font-size: inherit;
    color: $red;
    background-color: #f8f9fa;
}

//Images
img{
    // max-width: 100%;
    // height: auto;
}