<footer class="footer pt-5 pb-3 bg-dark text-light">
	<div class="container p-0">
		<div class="row no-gutters">
			<nav class="col-12 col-md-7 col-lg-6 pl-md-0 px-1 px-md-0">
				<ul class="col-left list-inline d-flex justify-content-center justify-content-md-start m-0">
					<li class="px-2 px-md-3"><a href="./?a=626491">About Us</a>
					</li>
					<li class="px-2 px-md-3"><a href="./?a=626500">Contact Us</a>
					</li>
					<li class="px-2 px-md-3"><a href="https://dpti.sa.gov.au/careers" rel="noreferrer" target="_blank">Careers</a>
					</li>
					<li class="px-2 px-md-3"><a href="./?a=639059">News</a>
					</li>
				</ul>
			</nav>
			<nav class="col-12 col-md-5 col-lg-6 mt-8 mt-md-0 d-flex justify-content-around justify-content-md-end">
				<ul class="ul-footer d-flex list-inline ">
					<li>
						<div class="px-md-3 px-3"> <a href="https://www.facebook.com/DPTISA" target="_blank" rel="noreferrer" aria-label="Facebook" id="fa-facebook" name="fa-facebook"><span class="footer-icon" aria-hidden="true"><i class="fab fa-facebook-f"></i></span><span class="sr-only">Facebook</a>
						</div>
					</li>
					<li>
						<div class="px-md-3 px-3"> <a href="https://twitter.com/DPTI_SA" rel="noreferrer" target="_blank" aria-label="Twitter" id="fa-twitter" name="fa-twitter"><span class="footer-icon" aria-hidden="true"><i class="fab fa-twitter"></i></span><span class="sr-only">Twitter</span></a>
						</div>
					</li>
					<li>
						<div class="px-md-3 px-3"> <a href="https://www.linkedin.com/company/dpti" rel="noreferrer" target="_blank" aria-label="LinkedIn" id="fa-linkedin" name="fa-linkedin"><span class="footer-icon" aria-hidden="true"><i class="fab fa-linkedin-in"></i></span><span class="sr-only">LinkedIn</span></a>
						</div>
					</li>
					<li>
						<div class="px-md-3 px-3"> <a href="http://www.youtube.com/user/DTEISouthAust" rel="noreferrer" target="_blank" aria-label="YouTube" id="fa-youtube" name="fa-youtube"><span class="footer-icon" aria-hidden="true"><i class="fab fa-youtube"></i></span><span class="sr-only">Youtube</span></a>
						</div>
					</li>
					<li>
						<div class="px-md-3 px-3 pr-lg-0"> <a href="http://www.dpti.sa.gov.au/rss" rel="noreferrer" target="_blank" aria-label="RSS" id="fa-rss" name="fa-rss"><span class="footer-icon" aria-hidden="true"><i class="fas fa-rss"></i></span><span class="sr-only">RSS</span></a>
						</div>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-12 px-0">
			<hr class="mb-5 hr-border" />
		</div>
		<div class="row no-gutters">
			<div class="col-12 col-lg-5 mb-md-6 mb-lg-0">
				<div class="row px-0">
					<div class="col-12 col-md-5 col-lg-6 d-flex justify-content-center justify-content-md-start py-5 py-md-0 img-logo">
						<a href="http://dpti.sa.gov.au/" target="_blank" title="DPTI - Department of Planning, Transport and Infrastructure South Australia">
							<img class="img-fluid" src="./?a=625585" alt="DPTI - Department of Planning, Transport and Infrastructure South Australia" />
						</a>
					</div>
					<div class="col-12 col-md-3  d-flex justify-content-center align-items-center  align-self-lg-start py-5 py-md-0 img-logo">
						<a href="https://www.sa.gov.au/" target="_blank" title="SA Gov website">
							<img class="img-fluid" src="./?a=625587" alt="SA Gov logo" />
						</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-7 info-text px-5 px-md-2 px-lg-0">
				<ul class="list-inline d-flex justify-content-center justify-content-md-start justify-content-lg-end flex-wrap flex-md-nowrap pr-md-2">
					<li><a href="http://dpti.sa.gov.au/freedom_of_information" rel="noreferrer" target="_blank">Freedom of Information</a>
					</li>
					<li><a href="http://dpti.sa.gov.au/accessibility" rel="noreferrer" target="_blank">Accessibility</a>
					</li>
					<li><a href="http://dpti.sa.gov.au/security" rel="noreferrer" target="_blank">Security</a>
					</li>
					<li><a href="http://dpti.sa.gov.au/privacy" rel="noreferrer" target="_blank">Privacy</a>
					</li>
					<li><a href="http://dpti.sa.gov.au/copyright_statement" rel="noreferrer" target="_blank">Copyright</a>
					</li>
					<li class="pr-0"><a href="http://dpti.sa.gov.au/website_disclaimer" rel="noreferrer" target="_blank">Disclaimer</a>
					</li>
				</ul>
				<p class="creative-commons text-center px-2 px-md-2 px-lg-2 text-md-left text-lg-right">This work is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/au/deed.en" rel="noreferrer" target="_blank">Creative Commons Attribution 3.0 Australia Licence</a>
				</p>
			</div>
		</div>
	</div>
</footer>
<div id="modals">
    <!--@@ Search Modal @@-->
    <div class="modal searchModal fade d-none" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content p-2">
                    <div class="modal-header border-0">
                        <!--<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark pt-0">
                        <div class="text-secondary pb-4 search-value">You searched for "<span class="textoutput"></span>"</div>
                        <h3>Are you looking for a development application?</h3>
                        <p></p>
                    </div>
                    <div class="modal-footer  d-flex flex-column border-0">
                        <div class="col-12 m-0 p-0 mb-2">
                            <button type="button" class="btn btn-primary btn-block btnYes">Yes</button>
                        </div>
                        <div class="col-12 p-0 m-0">
                            <button type="button" class="btn btn-outline-secondary btn-block btnNo" data-dismiss="modal">No</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="overlay d-none"></div>
    <!--@@ Search Modal End @@-->
    
</div>