<!--@@ Design Nester - %asset_name% start @@-->

<div class="navbar navbar-expand-md border-0 p-0 d-flex flex-column">
    <div class="container px-0">
        <!--@@ Header logo, button, search @@-->
        <div class="header-content d-flex justify-content-between">
            <div class="logo d-flex align-items-center">
                <a href="%globals_site_url%"><img class="saportal-logo" src="%globals_site_metadata_design.logo^as_asset:asset_url%" alt="%globals_site_name%"></a>
            </div>
            <div class="col-6 col-md-9 col-lg-7 col-xl-6 d-flex justify-content-md-end justify-content-lg-end justify-content-end p-0 ie-right-col">
                <div class="btn-group my-auto ml-xl-8 d-none d-lg-block">
                    <a class="btn btn-link text-white" href="./?a=648964">Register</a> <a type="button" class="btn btn-info btn-login" href="https://dptitest.appiancloud.com/suite/sites/dap/" target="_self" title="Login"> Login </a>
                </div>
                <div for="input-search" id="header-search" class="form-group my-auto p-0 m-0 search-icon d-none d-lg-block ml-md-3">
                    <form action="./?a=638897" method="GET">
                     <div class="input-group my-auto">
                        <input type="hidden" name="SQ_ENVIRONMENT" value="test" />
                        <input type="text" name="queries_q_query" value="" size="25" aria-label="search query" title="search the SA Planning Portal" class="sq-form-field" id="queries_q_query" placeholder="Find something">
                        <!--@@ updated to use bootstrap group/prepend @@-->
                        <div class="input-group-prepend">
                            <button type="submit" id="site_search_submit" name="site_search_submit" aria-label="Search-Submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
                
                <button class="btn-mainmenu-open  btn-mainmenu collapsed d-block d-lg-none text-white bg-primary my-3 px-1 px-sm-3" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> Menu <span class="fas fa-bars"></span>
                </button>
                <button class="btn-mainmenu-close  btn-mainmenu text-white bg-primary my-3 px-1 px-sm-3" type="button"  style="display:none"> Menu <span class="fas fa-times"></span> </button>
                <button class="btn-search mobile-searchicon my-3 d-block d-lg-none ml-3" data-toggle="collapse" data-target="#mobileSearch" aria-expanded="false" type"button" >
                </button>
            </div>
        </div>
        <!--@@ Header logo, button, search End @@-->                      
    </div>
    
</div>
<style>
    #banner.jumbotron {
        background-image: url(./?a=637451);
    }
</style>