.accordion[id^="accordion"]{
    .card{
        background-color: $white;
        margin: 0.625em 0px;
        border: none;

        .card-header {
            border-bottom: none;
            border: none;
            text-align: left;
            &:hover {
                cursor: pointer;
                box-sizing: border-box;
                @include useColourBorder($inputfield-box-shadow);
            }
    
            &:focus {
                box-sizing: border-box;
                @include useColourBorder(inset $inputfield-box-shadow);
                outline: none;
                -webkit-appearance: none;
            }
    
            &:after {
                content: "";
                height: 18px;
                width: 23px;
                position: absolute;
                background-repeat: no-repeat;
                transition: all .2s;
                background-image: get-icon-chevron($psa-black);
                right: 16px;
                top: 30px;
            }
            &[aria-expanded="true"] {
                border-bottom: 1px solid $gray-300;
                &:after {
                    content: "";
                    height: 18px;
                    width: 23px;
                    position: absolute;
                    background-repeat: no-repeat;
                    transition: all .2s;
                    background-image: get-icon-chevron-up($psa-black);
                    right: 16px;
                    top: 30px;
                }
            }
        }
        
        .card-body {
            
            .scroller {
                max-height: 500px;
                overflow-y: auto;
            }
        }
    }
}

@media (max-width: 576px) {
 
    .accordion[id^="accordion"] {
        .card-header {
            &> .svg-inline--fa.fa-w-16 {
                top: 0.45em;
                font-size: 1em;
            }
        }
    }
}