    // #alert-panel {
    //     background-color: #E8F5FF;
    //     display: none;
    // }
    // #alert-panel.alert-dismissible {
    //      padding-right: inherit; 
    // }
    // #alert-panel .alert-panel {
    //     color: #000;
    //     background-color: transparent;
    //     border: 0px solid transparent;
    //     border-left: 5px solid #3AC4E4;
    // }
    // #alert-panel .alert-panel .close {
    //     opacity: 1;
    //     text-align: right;
    //     font-size: inherit;
    //     position: relative;
    // }
    
  #alert-panel {
    background-color: $pale-blue;
    .alert-dismissible {
        padding-right: inherit;
    }
    .alert-panel {
        color: $body-color;
        background-color: $pale-blue;
        border: 0px solid transparent;
        border-left: 5px solid $bright-blue;
        width: 100%;
    }
    .alert-panel .close {
        opacity: 1;
        text-align: right;
        font-size: inherit;
        position: relative;
    }
}  
    