%psa-button {
    font-size: 14px;
    padding: 10px 12px;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    @include user-select(none);
    background-image: none;
    background-color:  $white;
    border: 1px solid $transparent;
    color: $psa-black;
    border-radius: 0;
    
    &:focus, &:active:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
        @include useColourBorder($inputfield-box-shadow);
        background-color:  $white;
    }

    &:hover, &:focus {
        color: $psa-black;
        text-decoration: none;
        @include useColourBorder($inputfield-box-shadow);
        background-color:  $white;
    }
    
    &:active {
        background-image: none;
        outline: 0;
        @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
        background-color:  $white;
    }
}

/* default
---------------------------- */
.btn-default {

    @extend %psa-button;
    
    color: $psa-black;
    background-color: $transparent;
    border-color: $psa-black;
    
    &:focus, &:hover, &:active {
        color: $psa-black;
        background-color: $transparent;
        border-color: $psa-black;
    }
}

.btn {
    @extend %psa-button;
    border: 1px solid $psa-black;
    
    a{
        text-decoration: none;
        color: $psa-black;
    }
}

.btn-psa-arrow, .btn-submit{
    @extend %psa-button;
    padding: 12px 60px 12px 1.2em;
    
    a{
        text-decoration: none;
        color: $psa-black;
    }
    
    &::after{
        content: '';
        background-image: get-icon-arrow($psa-black, $transparent);
        height: 12px;
        width: 22px;
        position: absolute;
        margin-top: 3px;
        margin-left: 12px;
    }
    
    &:hover{
        &::after{
            animation: headShake 2000ms;
        }
    }

    &.transparent{
        background-color: $transparent;
    }

}

.btn-primary{
    @extend %psa-button;

    &:not(:disabled):not(.disabled):active:focus, 
    &:not(:disabled):not(.disabled).active:focus.btn,
    &:not(:disabled):not(.disabled):active {
        @include box-shadow(none);
        border: 1px solid $psa-black;
        background-color: $transparent;
    }
    
    &:focus, &:hover{
        border-color: $psa-black;
    }
    
    a{
        text-decoration: none;
        color: $psa-black;
    }
}

.btn-link{
    @extend %psa-button;
    border: 1px solid $transparent;
    background-color: $transparent;
    text-decoration: underline;

    &:hover, &:focus, &:active{
        background-color: $transparent;
    }
}

.btn-back-link{
    @extend %psa-button;
    padding: 12px 1.2em 12px 60px;

    &::before{
        content: '';
        background-image: get-icon-arrow-back($psa-black, $transparent);
        height: 12px;
        width: 22px;
        position: absolute;
        margin-top: 3px;
        margin-left: -40px;
        }
    
    &:hover{
        &::before{
            animation: headShake 2000ms;
        }
    }
} 


.btn-primary.disabled, .sq-form-submit.disabled, .btn-primary:disabled, .sq-form-submit:disabled {
    color: $psa-charcoal70;
    background-color: $psa-charcoal30;
    border-color: $psa-black;
}


.jconfirm .jconfirm-box .jconfirm-buttons button.btn-sumbmit, 
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-secondary, 
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-reset,
.jconfirm .jconfirm-box .jconfirm-buttons button{
    @extend %psa-button;
    border: 1px solid $psa-black;
    
    &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus.btn {
        @include box-shadow(none);
        border-top: 0;
    }
}

body > div.jconfirm.jconfirm-bootstrap.jconfirm-open > div.jconfirm-scrollpane > div > div > div > div > div.jconfirm-buttons > button.btn.btn-primary.btn-submit{
    
    padding: 0px 14px 10px 26px;
    
    &:hover{
        &::after{
            animation: headShake 2000ms;
        }
    }
}

body > div.jconfirm.jconfirm-bootstrap.jconfirm-open > div.jconfirm-scrollpane > div > div > div > div > div.jconfirm-buttons > button.btn.btn-secondary.btn-reset, div[class*="aw-restart"]>.btn-reset{    
    padding: 10px 20px 10px 50px;

    &:hover{
        &::before{
            animation: rotateOut 2000ms;
        }
    }
}

/* form buttons
---------------------------- */
.jconfirm .jconfirm-box .jconfirm-buttons .btn-submit:after {
    background-image: get-icon-arrow($psa-black, $transparent);
    height: 22px;
    width: 22px;
    position: relative;
    content: "";
    background-repeat: no-repeat;
    display: inline-block;
    top: 12px;

    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none){
        top: 7px;
    }
}

.jconfirm .jconfirm-box .jconfirm-buttons .btn-reset:before{
    background-image: get-icon-reset($psa-black, $transparent);
    height: 22px;    
    width: 22px;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    right: 135px;
}
div[class*="aw-restart"]>.btn-reset:before{
    background-image: get-icon-reset($psa-black, $transparent);
    height: 22px;    
    width: 22px;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    margin-left: -34px;
}