footer {
    background-color: $psa-charcoal70;
    
    .img-logo a {
        &:link,
        &:visited,
        &:active {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
    a {
        &:link,
        &:visited,
        &:active {
            text-decoration: underline;
            color: inherit;
        }
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
    
    ul {
    
        li {
    
            a {
                font-size: 0.8947em;
            }
        }
    }
    
    ul.col-left li {
        list-style-type: none;
        border-right: 1px solid $psa-charcoalfooter;
        color: inherit;
    }

    ul.ul-footer{
        opacity: 0.8;
    }

    
    ul li:last-child,
    .info-text ul li:last-child {
        border-right: none;
    }
    
    .info-text {
        font-size: 0.8947em;
    
        >ul>li {
            border-right: 1px solid $psa-charcoalfooter;
            padding: 0 0.4em;
            &:last-child {
                border-right: none;
            }
        }
    }
    
    .hr-border {
        border-color: $dusty-purple;
    }
    
    ul.ul-footer>li {
        font-size: 1.5em;
    }
    
    #dpti-logo{
        max-width: 180px;
    }

    #gosa-logo{
        min-width: 118px;
    }
 
    // .img-logo{
        // margin-bottom: 32px;

        // @media (max-width: 992px){
        //     text-align: center;
        // }
    // }
}


@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {
    
    footer {
    
        .img-logo {
            &:nth-child(1)>a>img {
                width: 12em;
            }
            &:nth-child(2)>a>img {
                width: 11em;
            }
            &:nth-child(3)>a>img {
                width: 11em;
            }
        }
    
        .info-text {
            font-size: 15px;
        }
    }
}