// .side-nav ul {
//     font-size: 0.8em;
// }

// .side-nav .navbar-text {
//     font-size: 0.9em;
// }
@media (max-width: 767px){
    .side-nav ul {
        font-size: 0.85em;
    }

    .side-nav .navbar-text {
        font-size: 0.95em;
    }
}
#inpage-nav.side-nav {
    .list-group-item-nav > a.active, 
    .list-group-item-nav:focus > a.active, 
    .list-group-item-nav:hover > a.active, 
    .list-group-item-nav > a, 
    .list-group-item-nav:focus > a, 
    .list-group-item-nav:hover > a {
        color: $blk;
        text-decoration: none;
    }
    
    .list-group-item {
        z-index: 2;
        color: $blk;
        border-color: transparent;
        border-bottom: 1px solid $gray-300;
        background-color: transparent;
    }
    .list-group-item > a.active {
        background-color: transparent;
        border-left: 5px solid $psa-charcoal100;
    }
    
    .list-group-item > a:not(.active) {
        padding-left: calc(.75rem + 9px);
    }
    .sticky-top {
        top: 30px;
    }
}

#document-nav.side-nav {
    ul { 
        border-top: 1px solid $psa-charcoal100;  
        padding-top: 1.25rem;
        li{
            a{
                color: $blk;
            }
        }
    }
}
