$dapr-font-size: 14.25px;

#template607871 {
    // margin-bottom: 180px;


    .bg-body {
        background-color: $body-bg;
    }

    noscript h3 {
        text-align: center;
    }

    #givehoney {
        display: none;
    }

    table#dapr {
        font-size: $dapr-font-size; // 14.25px on large

        @media screen and (max-width: 767px) {
            font-size: 16px; // 14.25px on small
        }
    }

    .spinme {
        width: 100%;
        text-align: center;
        min-height: 160px;
    }

    #dapr-short-form {
        font-size: $dapr-font-size;
    }

    #DAPR-content {
        .resultsfound {
            transition: all 1s ease-in-out;

            &.highlight {
                background-color: $purplergba;
                padding: 0 5px;
            }
        }

        strong {
            color: #6f6f6f;
        }

        .toggle-container {
            .show-more {
                color: $blue;

                &:hover,
                &:focus {
                    cursor: hand;
                    cursor: pointer;
                }
            }

            .toggle-truncated {

                &:after {
                    content: "...";
                }

                &.shown:after {
                    content: "";
                }
            }
        }
    }

    #search_form {

        .input-group,
        input.form-control {
            border: 1px solid $psa-black25;
        }

        .input-group-text {
            padding: 0em 0.15em;
            font-size: 1.9em;
            border: 0px solid transparent;
            color: $dark;
            background-color: transparent;
        }

        .form-control.datetimepicker-input {
            border: 0px solid transparent;
        }

        label {
            display: block;
            font-weight: 600;

            >.label-text {
                display: block;
            }

            >.label-text::first-letter,
            >.text-muted::first-letter {
                text-transform: uppercase;
            }

            >.label-text,
            >.text-muted {
                text-transform: lowercase;
            }
        }


        #searchformclear {
            margin-left: 1.5rem;

            @media screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 1rem;
                margin-left: 0;
            }
        }

        .form-text {
            margin-top: 0;
            min-height: 18px;
        }
        
        .select {

            &>svg.svg-inline--fa {
                top: 43px;
            }
        }

        .bootstrap-datetimepicker-widget {
            .table {
                font-size: 0.85em;
                background-color: #f3f3f3;

                thead {
                    background-color: #f3f3f3;

                    th {
                        font-size: 1em;
                        background-color: #f3f3f3 !important;
                    }
                }
            }

            &.dropdown-menu {
                border: 2px solid $dark;
                width: 16.75rem;
                background-color: #f3f3f3;

                .datepicker {
                    background-color: #f3f3f3;
                }

                &.top {
                    &:before {
                        border-top: 7px solid $dark;
                        border-top-color: $dark;
                        bottom: -7px;
                    }

                    &.top:after {
                        bottom: -4px;
                    }
                }

                &.bottom {
                    &:before {
                        border-bottom: 7px solid $dark;
                        border-bottom-color: $dark;
                        top: -7px;
                    }

                    &:after {
                        top: -4px;
                    }
                }
            }
        }

        #daprsearch_form {
            div[data-toggle-more="true"] {
                display: none;
            }

            #search_more_options {
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }

                &::before {
                    @include useFontAwesome;
                    content: '\f067';
                }

                &.expanded::before {
                    content: '\f068';
                }

                &>svg.svg-inline--fa {
                    font-size: 0.7em;
                    margin-right: .5em;
                    font-weight: 900;
                }
            }
        }

        /* Custom Tabs */
        #dapr_search_parts {
            border: 0px solid transparent;

            .nav-item {
                background-color: $psa-charcoal100;
                color: $white;
                margin-left: 3px;
                margin-bottom: 0;

                &:focus,
                &:focus-within {
                    outline: 0px solid transparent;
                    outline-offset: 0;
                }

                .nav-link {
                    color: $white;
                    text-align: center;
                    border: 1px solid transparent;
                    padding: 1.075em 1.3em 1.1em 1.3em;

                    &.active {
                        color: $blk;
                        text-decoration: none;
                        background-color: $white;
                        height: 100%;
                        padding: 1em 1.6em 1em 1.6em;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    @media (max-width: 1200px) {
                        // 		padding:1.15em 1em 0.8em 1em;
                    }

                    @media (max-width: 991px) {
                        padding: 1.2em 1.6em;
                    }
                }

                @media (max-width: 991px) {
                    margin-bottom: 3px;
                    margin-left: 0px;
                    width: 100%;
                }
            }
        }
    }
    
    #search_resultss{
        #searchform .select {

            &>svg.svg-inline--fa {
                top: 21px;
            }
        }
    }


    

    #search-results {
        fieldset {

            dt {
                margin: .5rem 0 0 0;
            }

            dd {
                font-style: normal;
                margin: 0 0;
            }
        }



        .fixed-table-pagination {
            font-size: $dapr-font-size;
        }

        .fixed-table-container {
            border: 0 solid transparent;

            thead {
                border-top: 2px solid $dark;

                th {
                    border-left: 0 solid transparent;
                    font-size: 1em;
                    padding: 0.75em 0 !important;
                    height: 100%;
                    vertical-align: top;

                    // &:nth-child(2) {
                    //     .th-inner {
                    //         padding: 8px 8px 8px 0;
                    //     }
                    // }
                    .th-inner {
                        padding: 5px 8px 8px 8px;

                        &.sortable {
                            padding-right: 15px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .both {
                        padding: 8px;
                        background-image: none !important;

                        &.asc::after {
                            content: "\f0de";
                        }

                        &.desc::after {
                            content: "\f0dd";
                        }

                        &::after {
                            @include useFontAwesome;
                            content: "\f0dc";
                        }

                        &>svg.svg-inline--fa {
                            font-size: .85em;
                            position: absolute;
                            top: 11px;
                            right: 5px;
                            font-weight: 700;
                        }

                    }

                    .desc:after,
                    .asc:after {
                        color: #FFF;
                    }
                }
            }

            tbody {

                td {
                    border-left: 0 solid transparent;
                }
            }

            .fixed-table-body {

                #dapr.table {
                    td {
                        vertical-align: top;
                        padding: 1.2em 0.5em;

                        &:nth-child(2) {
                            padding: 1.2em 0.5em 1.2em 0;
                        }

                        &:last-child {
                            padding: 1.2em 0 1.2em 0.5em;

                            @media (max-width: 767px) {
                                padding: 1.2em 1.2em;
                            }
                        }
                    }

                    tbody {

                        tr {

                            &:hover {
                                cursor: hand;
                                cursor: pointer;
                                background-color: $body-bg;

                                @media screen and (max-width: 767px) {
                                    background-color: inherit;
                                    color: inherit;
                                }
                            }
                        }
                    }
                }

                tr {

                    .card-views {
                        padding-top: 15px !important;

                        @media (max-width: 767px) {
                            padding-top: 0 !important;
                        }

                        .card-view {
                            margin-bottom: 10px;

                            @media (max-width: 767px) {

                                &:last-child,
                                &:first-child {
                                    margin-bottom: 0px;
                                }
                            }

                            .title {
                                display: block;
                                margin-bottom: 2px;
                                color: #000;
                            }

                            a.btn-link {
                                color: $primary;
                                text-decoration: underline;
                            }

                            p {
                                display: inline;
                                padding-right: 10px;
                            }
                        }
                    }

                    &:has(.card-views) {
                        border-bottom: 10px solid #dddddd;
                    }
                }
            }
        }

        a.exporttablebtn {
            font-size: $dapr-font-size;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }

        #loadmessage {

            p {
                width: 100%;
            }
        }
    }

}

// accordion items
.title-status {
    font-weight: 600;
}

.dapr-accordion {
    margin: 1.875em 0;
}

.dapr-accordion .panel-group:last-child {
    margin-bottom: 0.9375em;
}

.dapr-accordion .panel-group .panel {
    border: 0 none;
    box-shadow: 0 4px 5px -1px rgba(39, 40, 41, 0.2);
    margin-bottom: 0.9375em;
}

.dapr-accordion>.panel-group>.panel.panel-green {
    border-left: .5em solid #1A8842;

    .title-status {
        color: #1A8842;
    }
}

.dapr-accordion>.panel-group>.panel.panel-blue {
    border-left: .5em solid $primary;

    .title-status {
        color: $primary;
    }
}

.dapr-accordion>.panel-group>.panel.panel-dark {
    border-left: .5em solid $dark;

    .title-status {
        color: $dark;
    }
}

.dapr-accordion>.panel-group>.panel.panel-orange {
    border-left: .5em solid #D73927;

    .title-status {
        color: #D73927;
    }
}


.dapr-accordion>.panel-group>.panel.panel-default {
    border-left: .5em solid $gray;

    .title-status {
        color: $gray;
    }
}

.dapr-accordion .panel-group .panel-heading {
    color: #444;
}

.dapr-accordion .panel-group .panel-heading .panel-title {
    margin: 0;
    padding: 0.5em;
}

.dapr-accordion .panel-group .panel-heading a:hover.active,
.dapr-accordion .panel-group .panel-heading a.active {
    color: #323e48;
}

.dapr-accordion .panel-group .panel-title a {
    color: #000;
    display: block;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    padding: 0.5em;
    transition: color .2s ease-in-out;
    text-decoration: none;
}

.dapr-accordion .panel-group .panel-title a:hover {
    color: #444;
    text-decoration: none;
}

.dapr-accordion .panel-group .panel-title a.collapsed::after,
.dapr-accordion .panel-group .panel-title a::after {
    @include useFontAwesome;
    content: "\f13a";
}

.dapr-accordion .panel-group .panel-title a.collapsed>.svg-inline--fa,
.dapr-accordion .panel-group .panel-title a>.svg-inline--fa {
    font-size: 1.3em;
    padding-left: 20px;
    position: absolute;
    width: 1.5em;
    right: 19px;
    top: 1em;
}

.dapr-accordion .panel-group .panel-title a:after {
    content: "\f139 ";
}

.dapr-accordion .panel-body {
    color: #000;
    padding: 0 1.25em 1.25em 1.25em;
}

@media (max-width: 991px) {

    .panel-title {
        font-size: 1em;
    }

    .dapr-accordion .panel-group .panel-title a.collapsed::after,
    .dapr-accordion .panel-group .panel-title a::after {
        @include useFontAwesome;
        content: "\f13a";
    }

    .dapr-accordion .panel-group .panel-title a.collapsed>.svg-inline--fa,
    .dapr-accordion .panel-group .panel-title a>.svg-inline--fa {
        font-size: 1.3em;
        width: 1em;
        padding-left: inherit;
        position: absolute;
        right: 0;
        top: .6em;
    }

    .dapr-accordion .panel-group .panel-title a:after {
        content: "\f139 ";
    }

    .dapr-accordion .panel-group .panel-title a {
        padding: 0 0.9375em 0 0;
    }

    .dapr-accordion .panel-body {
        padding: 0 .6em 1.8em .6em;
    }
}

// end accordion items



#search-results fieldset table td .image-map {
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 250px;
}

#search-results .table th .th-inner {
    white-space: pre-line;
    vertical-align: top;
    height: 100%;
}

#search-results fieldset.parent {
    margin-left: 0;
    width: 100%;
    max-width: 100%;
}

#search-results fieldset {
    padding: .35em 0 2em 0;
    margin: 20px 0px;
    min-width: fit-content;
}

#search-results legend {
    font-weight: bolder;
    width: auto;
    margin-bottom: 0px;
    border-bottom: 0px solid #e5e5e5;
}

#search-results .table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
}

input[type=checkbox],
input[type=radio] {
    margin: 0 0;
}

label.childcontrolchkbox {
    display: inline-block !important;
    padding-left: 10px;
}

#search-results #loadresult {
    display: block;
}

#search-results .sortdatehide {
    display: none;
}

#search-results label.forexport {
    display: inline;
    margin-bottom: 0px;
    font-weight: 400;
}




.form-group .childcontrolchkbox {
    width: 25px;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 9px;
    left: 0px;
    background: #eee;
    border: 1px solid #ddd;
}

.form-group .childcontrolchkbox:after {
    opacity: 0.05;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 2px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}

.form-group .childcontrolchkbox:hover::after {
    opacity: 0.4;
}

.form-group input[type=checkbox] {
    margin: 10px 7px 10px 0px;
}

.form-group input[type=checkbox]:checked+.childcontrolchkbox:after {
    opacity: 1;
}


#search-results a[data-rel="loadsingleresult"]:hover {
    text-decoration: underline;
}

span[data-rel="checkthis"],
#register-description-less,
#register-description {
    cursor: hand;
    cursor: pointer;
}

#register-description-less,
#register-description {
    color: #337ab7;
    text-decoration: underline;
}

#register-description-less:hover,
#register-description:hover {
    color: #437ab7;
    text-decoration: none;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.form-el-padding {
    padding-top: 19px;
}

@media screen and (max-width: 480px) {
    #search-results fieldset.parent {
        margin-left: auto;
        width: 100%;
        max-width: 100%;
    }
}