// ====================================================
// Fonts and Typography
// ====================================================
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size !important;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})) !important;
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size !important;
            }
        }
    }
}

$min_width: 320px;
$max_width: 1200px;


h1, .h1{
    @include fluid-type($min_width, $max_width, 32px, 48px);
}

h2, .h2{
    @include fluid-type($min_width, $max_width, 24px, 35px);
}
h3, .h3{
    @include fluid-type($min_width, $max_width, 20px, 30.21px);
}
h4, .h4{
    @include fluid-type($min_width, $max_width, 18px, 22.66px);
}
.footer_footnote{
    @include fluid-type($min_width, $max_width, 10px, 12px);
}



@media (max-width: 767px){
    h1, .h1 { 
        
    }
    h2, .h2 { 
        margin-top: 2rem;
        margin-bottom: 1.25rem;
    }
    h3, .h3 { 
        margin: 1rem 0 1.25rem;
    }
    h4, .h4 { 
        margin: 1rem 0 1rem;
    }
    h5, .h5 { 
        
    }
    h6, .h6 { 
        
    }
}
@media (min-width: 768px){
    h1, .h1 { 
        
    }
    h2, .h2 { 
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    h3, .h3 { 
        margin: 2rem 0 1.5rem;
    }
    h4, .h4 { 
        margin: 1.75rem 0 1rem;
        display: block;
    }
    h5, .h5 { 
        
    }
    h6, .h6 { 
        
    }
}
@media (max-width: 576px) {
    h1, .h1 { 
        
    }
    h2, .h2 { 
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    h3, .h3 { 
        margin: 1rem 0 0.5rem;
    }
    h4, .h4 { 
        margin: .8rem 0 0.5rem;
    }
    h5, .h5 { 
        
    }
    h6, .h6 { 
        
    }
}


