$encodings: (
    ('<', '%3C'),
    ('>', '%3E'),
    ('#', '%23'),
    ('"', '%22')
);

@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@function get-icon($content, $viewBox) {
    $svg: '<svg viewBox="' + $viewBox + '" xmlns="http://www.w3.org/2000/svg">' + $content + '</svg>';
    @each $char, $encoded in $encodings {
        $svg: str-replace($svg, $char, $encoded);
    }
    @return url('data:image/svg+xml;charset=utf-8,' + $svg);
}


// Icons functions
@function get-icon-search ($fill, $stroke) {
    $content: '<circle cx="9.5" cy="9.5" r="8.5" fill="#{$fill}" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M20 20L16 16" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 21 21');
}

@function get-icon-arrow ($stroke, $fill) {
    $content: '<path d="M16 1L21 6L16 11" stroke="#{$stroke}" fill="#{$fill}" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 6L21 6" stroke="#{$stroke}" fill="#{$fill}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 22 12');
}

@function get-icon-arrow-back ($stroke, $fill) {
    $content: '<path d="M6 11L1 6L6 1" stroke="#{$stroke}" fill="#{$fill}" stroke-linecap="round" stroke-linejoin="round"/><path d="M21 6L0.999999 6" stroke="#{$stroke}" fill="#{$fill}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 22 12');
}

@function get-icon-user ($fill, $stroke) {
    $content: '<path d="M21.2858 21.0061C21.2858 17.7358 19.6689 14.8286 17.1715 13M0.714336 21.0061C0.714336 17.7358 2.32262 14.8286 4.81311 13" stroke="#{$stroke}" fill="#{$fill}" stroke-linecap="round" stroke-linejoin="round"/><circle cx="11" cy="7" r="6" stroke="#{$stroke}" fill="#{$fill}"/>';
    @return get-icon($content, '0 0 22 22');
}

@function get-icon-login ($fill, $stroke) {
    $content: '<path d="M8 4.2C9.42224 2.25753 11.6834 1 14.227 1C18.5082 1 22 4.58992 22 9.00948C22 13.4291 18.5082 17 14.227 17C11.6834 17 9.42224 15.7491 8 13.8121" fill="#{$fill}" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M13 5L17 9L13 13" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 9L17 9" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 23 18');
}

@function get-icon-chevron ($fill) {
    $content: '<path d="M8 8L4.76837e-07 0L16 6.99382e-07L8 8Z" fill="#{$fill}"/>';
    @return get-icon($content, '0 0 23 18');
}

@function get-icon-chevron-up ($fill) {
    $content: '<path d="M8 -9.5399e-08L16 8L0 8L8 -9.5399e-08Z" fill="#{$fill}"/>';
    @return get-icon($content, '0 0 23 18');
}

@function get-icon-bars ($stroke) {
    $content: '<path d="M1 7H19" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 13H19" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 1H19" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 20 14');
}

@function get-icon-close ($stroke) {
    $content: '<path d="M1 13L13 0.999999" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 1L13 13" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 14 14');
}

@function get-icon-prev ($fill, $stroke) {
    $content: '<path d="M6 11L13 4L13 18L6 11Z" fill="#{$stroke}" stroke="#{$stroke}" /><path d="M11.0108 1C16.5126 1 21 5.4874 21 11.0119C21 16.5363 16.5126 21 11.0108 21C5.4874 21 1 16.5353 1 11.0119C1 5.48843 5.4874 1 11.0108 1Z" fill="#{$fill}" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 22 22');
}

@function get-icon-next ($fill, $stroke) {
    $content: '<path d="M15 11L8 18L8 4L15 11Z" fill="#{$stroke}" stroke="#{$stroke}"/><path d="M11.0108 1C16.5126 1 21 5.4874 21 11.0119C21 16.5363 16.5126 21 11.0108 21C5.4874 21 1 16.5353 1 11.0119C1 5.48843 5.4874 1 11.0108 1Z" fill="#{$fill}" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 22 22');
}

@function get-icon-reset ($fill, $stroke) {
    $content: '<path fill-rule="evenodd" clip-rule="evenodd" d="M1 10.5119C1 5.2645 5.26361 1 10.5108 1C15.7357 1 20 5.2628 20 10.5119C20 15.7594 15.7373 20 10.5108 20C10.0323 20 9.56205 19.9647 9.10244 19.8967C8.79072 19.8505 8.5 20.0848 8.5 20.3999V20.3999C8.5 20.637 8.66797 20.842 8.90231 20.8779C9.4268 20.9583 9.96398 21 10.5108 21C16.2879 21 21 16.3133 21 10.5119C21 4.71199 16.2895 0 10.5108 0C4.71119 0 0 4.71235 0 10.5119C0 12.6505 0.640546 14.6378 1.73987 16.2946C1.82595 16.4244 1.97244 16.5 2.12814 16.5V16.5C2.5299 16.5 2.75927 16.0264 2.53937 15.6901C1.56595 14.2018 1 12.4234 1 10.5119Z" fill="#{$fill}"/><path d="M11.5 23.5L8.5 20.5L11.5 17.5" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 22 22');
}

@function get-icon-down ($fill, $stroke) {
    $content: '<path d="M15.3773 9.16666L11.7106 12.8333L8.04392 9.16666" stroke="#{$stroke}" fill="#{$fill}" stroke-linecap="round" stroke-linejoin="round"/><circle cx="11.7106" cy="11" r="10.5" stroke="#{$stroke}"/>';
    @return get-icon($content, '0 0 22 22');
}

@function get-icon-breadcrumb ($fill) {
    $content: '<path d="M8 8L0 16L0 0L8 8Z" fill="#{$fill}"/>';
    @return get-icon($content, '0 0 8 16');
}

@function get-icon-right ($fill, $stroke) {
    $content: '<path d="M9.16663 7.33334L12.8333 11L9.16663 14.6667" stroke="#{$stroke}" fill="none"  stroke-linecap="round" stroke-linejoin="round"/><circle cx="11" cy="11" r="10.5" transform="rotate(-90 11 11)" stroke="#{$stroke}" fill="#{$fill}"/>';
    @return get-icon($content, '0 0 22 22');
}

@function get-icon-carousel ($fill, $stroke) {
    $content: '<circle cx="11" cy="11" r="10.5" transform="rotate(-90 11 11)" stroke="#{$stroke}" fill="#{$fill}"/><path d="M9.16663 7.33334L12.8333 11L9.16663 14.6667" stroke="#{$stroke}" fill="none"  stroke-linecap="round" stroke-linejoin="round"/>';
    @return get-icon($content, '0 0 22 22');
}

@function get-icon-left ($fill, $stroke) {
    $content: '<path d="M13.4679 14.6667L9.80123 11L13.4679 7.33333" stroke="#{$stroke}" fill="none"  stroke-linecap="round" stroke-linejoin="round"/><circle cx="11.6345" cy="11" r="10.5" transform="rotate(90 11.6345 11)" stroke="#{$stroke}" fill="#{$fill}"/>';
    @return get-icon($content, '0 0 22 22');
}

@function get-icon-attention ($fill, $stroke) {
    $content: '<path d="M16.3108 7C15.8282 7 15.4369 7.3872 15.4369 7.86486V18.2432C15.4369 18.7209 15.8282 19.1081 16.3108 19.1081C16.7934 19.1081 17.1847 18.7209 17.1847 18.2432V7.86486C17.1847 7.3872 16.7934 7 16.3108 7ZM16.3108 20.8378C15.5869 20.8378 15 21.4187 15 22.1351C15 22.8516 15.5869 23.4324 16.3108 23.4324C17.0347 23.4324 17.6216 22.8516 17.6216 22.1351C17.6216 21.4187 17.0347 20.8378 16.3108 20.8378Z" fill="#{$stroke}" stroke="#{$fill}"/><path d="M16.3108 7C15.8282 7 15.4369 7.3872 15.4369 7.86486V18.2432C15.4369 18.7209 15.8282 19.1081 16.3108 19.1081C16.7934 19.1081 17.1847 18.7209 17.1847 18.2432V7.86486C17.1847 7.3872 16.7934 7 16.3108 7ZM16.3108 20.8378C15.5869 20.8378 15 21.4187 15 22.1351C15 22.8516 15.5869 23.4324 16.3108 23.4324C17.0347 23.4324 17.6216 22.8516 17.6216 22.1351C17.6216 21.4187 17.0347 20.8378 16.3108 20.8378Z" fill="#{$stroke}" stroke="#{$fill}"/><path d="M16.3108 7C15.8282 7 15.4369 7.3872 15.4369 7.86486V18.2432C15.4369 18.7209 15.8282 19.1081 16.3108 19.1081C16.7934 19.1081 17.1847 18.7209 17.1847 18.2432V7.86486C17.1847 7.3872 16.7934 7 16.3108 7ZM16.3108 20.8378C15.5869 20.8378 15 21.4187 15 22.1351C15 22.8516 15.5869 23.4324 16.3108 23.4324C17.0347 23.4324 17.6216 22.8516 17.6216 22.1351C17.6216 21.4187 17.0347 20.8378 16.3108 20.8378Z" fill="#{$stroke}" stroke="#{$fill}"/><circle cx="16" cy="16" r="15.5" transform="rotate(-90 16 16)" stroke="#{$stroke}" fill="#{$fill}"/>';
    @return get-icon($content, '0 0 32 32');
}

@function get-icon-warning ($fill, $stroke) {
    $content: '<path d="M18.7825 0C17.7678 0 16.8308 0.503238 16.3111 1.36486L0.390275 27.8243C-0.129585 28.6884 -0.130598 29.7583 0.390275 30.6216C0.899374 31.4648 1.81755 32.0024 2.83438 32H34.7306C35.7474 32.0043 36.6656 31.4647 37.1747 30.6216C37.6959 29.7583 37.6949 28.6884 37.1747 27.8243L21.2539 1.36486C20.7341 0.503238 19.7972 0 18.7825 0ZM18.7825 1.72973C19.1582 1.72973 19.5753 1.9639 19.7519 2.25675L35.6727 28.7027C35.8494 28.9962 35.8498 29.4364 35.6727 29.7297C35.4834 30.0432 35.1071 30.2712 34.7306 30.2702H2.83438C2.45786 30.2702 2.08145 30.0431 1.89224 29.7297C1.71522 29.4363 1.71562 28.9962 1.89224 28.7027L17.813 2.25675C17.9897 1.9639 18.4067 1.72973 18.7825 1.72973ZM18.7825 10.8108C18.2998 10.8108 17.9086 11.198 17.9086 11.6757V22.054C17.9086 22.5317 18.2998 22.9189 18.7825 22.9189C19.2651 22.9189 19.6563 22.5317 19.6563 22.054V11.6757C19.6563 11.198 19.2651 10.8108 18.7825 10.8108ZM18.7825 24.6486C18.0585 24.6486 17.4717 25.2295 17.4717 25.9459C17.4717 26.6624 18.0585 27.2432 18.7825 27.2432C19.5064 27.2432 20.0933 26.6624 20.0933 25.9459C20.0933 25.2295 19.5064 24.6486 18.7825 24.6486Z" fill="#{$stroke}" />';
    @return get-icon($content, '0 0 38 32');
}

@function get-icon-ellipse ($fill) {
    $content: '<circle cx="8" cy="8" r="8" fill="#{$fill}"/>';
    @return get-icon($content, '0 0 16 16');
}

// @function get-icon-download ($fill, $stroke) {
//     $content: '<path d="M19 20L14 25L9 20" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M19 29L9 29" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 5V25" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/><path d="M26 1H1V34H26V1Z" fill="#{$fill}" stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"/>';
//     @return get-icon($content, '0 0 27 35');
// }

@function get-icon-download ($fill, $stroke) {
    $content: '<g stroke="#{$stroke}" stroke-linecap="round" stroke-linejoin="round"><path d="M21.984.5H.5v33h25V3.97L22 .5h-.016z" fill="#{$fill}"/><path d="M18.5 19.5l-5 5-5-5M18.5 28.5h-10M13.5 4.5v20" fill="#{$fill}"/></g>';
    @return get-icon($content, '0 0 27 35');
}



//use this like this..
// .class_of_the_icon{
//    background-image: get-icon-NAME OF ICON( pass in the colour, and other attributes );
//    height: 32px;
//    width: 32px;
//}
// TOP TIP --> don't repeat the bkgnd image add a class and make variations like that eg larger-icon below


.psa-icon{
    &.larger-icon{
        height: 32px;
        width: 32px;
    }
}


// Global Icons 
.icon-search{
    background-image: get-icon-search($white, $psa-charcoal100);
    height: 21px;
    width: 21px;
}


.icon-bars::after{
    content: '';
    background-image: get-icon-bars($psa-charcoal100);
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: 32px;
    right: 80px;
}

.icon-close::after{
    content: '';
    background-image: get-icon-close($psa-charcoal100);
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    top: 32px;
    right: 80px;
}

.icon-arrow{
    background-image: get-icon-arrow($psa-charcoal100, $transparent);
    height: 12px;
    width: 22px;
    background-repeat: no-repeat;
}

.psa-attention{
    background-image: get-icon-attention($transparent, $psa-charcoal100);
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    position: absolute;
}

.psa-warning{
    background-image: get-icon-warning($transparent, $psa-charcoal100);
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 16px;
}

