.plus .bodycopy_content_wrapper .table,
.sq-edit-content-type-wrapper .table,
.sq-wysiwyg-preview-wrapper .table,
#ConsultContent .table,
.bootstrap-table .table,
.acp_table-wrapper table.table,
.table {
    background-color: $white;
    caption {
        background-color: $psa-dpti-teal;
        caption-side: top;
        color: $psa-black;
        padding: 0.75rem 1.5rem;
        font-size: 21.6px;
        font-weight: 400;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    th,
    td {
        padding: $table-cell-padding;
        vertical-align: top;
        border-bottom: $table-border-width solid $table-border-color;
        border-top-width: 0;
        // -ms-word-break: break-all;
    }
    th:last-of-type,
    td:last-of-type {
        padding-right: 0;
    }
    thead th {
        vertical-align: bottom;
        font-size: 21.6px;
        padding-top: 2rem;
        font-weight: 400;
        padding-left: 0;
        background-color: $white !important;
        background-image: none;
    }
    thead td {
        padding-left: 0;
    }
}
