#toc_guide {
    ul{
        line-height: 2;

        li{
            &.disabled a {
                color: $blk;
                text-decoration: none;
            }
            a{
                color: $blk;
                line-height: 1.5;
            }
        }
    }
}
    
#toc_guide_nav {
    .btn-outline-previous, 
    .btn-outline-next {
        border: 1px solid $transparent;
        background-color: $transparent;
        color: $blk;
        
        a {
            color: $blk;
        }
        &:hover,
        &:active,
        &:focus {
            color: $blk;
            box-sizing: border-box;
            border: 1px solid $psa-dpti-pink;
            @include useColourBorder($inputfield-box-shadow);
        }
    }

    .btn-outline-next::before {
        content: "";
        background-image: get-icon-right($transparent, $psa-charcoal100);
        height: 47px;
        width: 47px;
        background-repeat: no-repeat;
        position: absolute;
        left: 24px;
    }

    .btn-outline-previous::before {
        content: "";
        background-image: get-icon-right($transparent, $psa-charcoal100);
        height: 47px;
        width: 47px;
        background-repeat: no-repeat;
        position: absolute;
        left: 24px;
        transform: rotate(180deg);
    }
}
